/* Make something awesome! */
footer {
  padding-left: 15px;
  padding-right: 15px;
}

.registration {
  color: #fff;
  display: inline-block;
  margin: 15px 0 0 15px;
}

.btn-reg {
  color: #fff;
  display: inline-block;
  background: firebrick;
  padding: 15px;
  cursor: pointer;
}

.default-label-margin {
  margin-top: 7px !important;
}

.no-padding {
  padding: 0 !important;
}

.no-display {
  display: none;
}

.default-link:hover {
  cursor: pointer;
  color: #337ab7;
}

.well.sidebar-nav {
  padding: 0 !important;
}

.well.sidebar-nav li i.fa {
  margin-right: 5px;
}

.well.sidebar-nav li.active {
  background-color: #ccc;
}

.expanded-search:hover {
  cursor: pointer;
  color: #337ab7;
}

footer {
  background-color: #222;
  color: #fff;
}

footer .bottom-navbar ul {
  padding: 0;
}

footer .bottom-navbar li {
  display: inline;
  color: #fff;
  font-size: 18px;
  border-right: 1px solid #ccc;
  padding: 0 10px;
}

footer .bottom-navbar li:first-child {
  padding-left: 0;
}

footer .bottom-navbar li a {
  color: #fff;
}

footer .bottom-navbar li a:visited {
  color: #fff;
}

footer .bottom-navbar li a:hover {
  color: #337ab7;
}
.panel .panel-heading ul {
  /*padding: 0;
  margin: 15px 0 0 0;*/
}
/*.panel .panel-heading ul li {
  display: inline;
  margin-right: 10px;
}*/
.panel .panel-heading ul li.active {
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 7px 7px 0 0;
}
/* Media */
@media screen and(max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-right .sidebar-offcanvas {
    right: -50%;
  }

  .row-offcanvas-left .sidebar-offcanvas {
    left: -50%;
  }

  .row-offcanvas-right.active {
    right: 50%;
  }

  .row-offcanvas-left.active {
    left: 50%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%;
  }
}

/*settings*/
.form-header{
  margin: 10px 0;
}

.settings-form{
  border: 1px solid #bbbbbb;
  display: inline-block;
  padding: 0;
}
.top-info{
  padding: 10px;
  margin-bottom: 10px;
  
}
.settings-form > .form-group {
  margin-bottom: 0;
}
.btn-group.col-sm-12{
  padding: 0;
  
}
/*settings*/

/*bottom footer*/
/*html, body {
  height: 100%;
}
.wrapper {
  margin: 0 auto;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}
.content {
  padding: 0 0 150px;
}
.footer {
  margin: -150px auto 0;
  height: 150px;
  position: relative;
}*/
/*END - bottom footer*/