{% extends "layout.html" %}
{% load widget_tweaks %}
{% block content %}
  <div class="registration__registration_form">
    <form action="" method="post" class="registration_form">
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group clearfix{% if field.errors %} has-error{% endif %}">
          <label class="col-sm-3 control-label">{{ field.label_tag }}</label>

          <div class="col-sm-6">
            {{ field|add_class:'form-control' }}
            {% for error in field.errors %}
              <p class="help-block errorlist">{{ error }}</p>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
      <div class="col-sm-6">
        <p>
          <a href="{% url 'rules' %}">Пользовательское соглашение</a>
        </p>

        <div class="checkbox">
          <label>
            <input class="check_me" type="checkbox" value="">
            Прочитал(а) и сгласен(а) <span>*</span>
          </label>
        </div>
        <input class="btn btn-success disabled" type="submit" value="Зарегестрироваться"/>
      </div>
    </form>
  </div>
{% endblock %}