DEBUG = False
TEMPLATE_DEBUG = DEBUG

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '{{ db_name }}',
        'USER': '{{ db_user }}',
        'PASSWORD': '{{ db_pass }}',
        'HOST': 'localhost',
    }
}

EMAIL_BACKEND = 'django_smtp_ssl.SSLEmailBackend'
EMAIL_HOST_USER = '{{ smtp_user }}'
EMAIL_HOST_PASSWORD = '{{ smtp_pass }}'
EMAIL_HOST = '{{ smtp_host }}'
EMAIL_ADMIN = '{{ smtp_user }}'
EMAIL_FROM = '{{ smtp_user }}'

DEFAULT_FROM_EMAIL = EMAIL_HOST_USER

STATIC_ROOT = '{{ project_root }}/public/static'
MEDIA_ROOT = '{{ project_root }}/public/media'
CELERYD_PID_FILE = '/tmp/{{ project_name }}_celerybeat.pid'

ADMINS =(('Maksym Mospanenko', 'mmospanenko@gmail.com'),)

LOGGING = {
    'version': 1,
    'disable_existing_loggers': False,
    'handlers': {
        'file': {
            'level': 'INFO',
            'class': 'logging.FileHandler',
            'filename': '{{ project_root }}/logs/django_info.log',
        },
    },
    'loggers': {
        'django.request': {
            'handlers': ['file'],
            'level': 'INFO',
            'propagate': True,
        },
    },
}

SMS_RU_KEY = '{{ sms_api_id }}'
SMS_RU_SENDER = '{{ sms_sender }}'

CHRONOPAY_PRODUCT_ID = '{{ chronopay_product_id }}'
CHRONOPAY_SHARED_SEC = '{{ chronopay_shared_sec }}'