upstream {{ project_name }}_uwsgi {
    server unix:///tmp/{{ project_name }}_uwsgi.sock;
}

server {
    listen 80;
    server_name {{ domain_name }};
    error_log {{ project_root }}/logs/nginx.log warn;

    location /media/ {
        alias {{ project_root }}/public/media/;
        expires 30d;
    }

    location /static/ {
        alias {{ project_root }}/public/static/;
        expires 30d;
    }

    location /robots.txt {
        alias {{ project_root }}/public/static/robots.txt;
        expires 30d;
    }

    location / {
        error_page 502 /error_502.html;

        include uwsgi_params;

        uwsgi_param X-Real-IP $remote_addr;
        uwsgi_param Host $http_host;

        uwsgi_pass {{ project_name }}_uwsgi;
    }
}
