[program:{{ project_name }}_uwsgi]
command = {{ project_root }}/venv/bin/uwsgi -s /tmp/{{ project_name }}_uwsgi.sock
		  --chdir {{ project_root }}/app
          --file {{ project_root }}/app/app/wsgi.py
          --callable application 
          --processes 2 -t 60 --logto {{ project_root }}/logs/uwsgi.log -M --need-app -b 32768
          -H {{ project_root }}/venv/
environment=DJANGO_SETTINGS_MODULE="app.settings.production"
user=www-data
stdout_logfile={{ project_root }}/logs/uwsgi.log
stderr_logfile={{ project_root }}/logs/uwsgi.log
stopsignal=INT
autostart=true
autorestart=true
priority=997

[program:{{ project_name }}_redis]
command=redis-server
stdout_logfile={{ project_root }}/logs/redis.log
stderr_logfile={{ project_root }}/logs/redis.log
autostart=true
autorestart=true
priority=998

[program:{{ project_name }}_celery]
command={{ project_root }}/venv/bin/celery worker -A app --autoscale=10,3 --loglevel=WARNING
directory={{ project_root }}/app
environment=DJANGO_SETTINGS_MODULE="app.settings.production"
user=deployer
numprocs=1
stdout_logfile={{ project_root }}/logs/celery.log
stderr_logfile={{ project_root }}/logs/celery.log
autostart=true
autorestart=true
startsecs=10
stopwaitsecs=600
killasgroup=true
priority=999

[program:{{ project_name }}_celery_beat]
command={{ project_root }}/venv/bin/celery beat -A app
        --loglevel=INFO
        --pidfile=/tmp/{{ project_name }}_celerybeat.pid
        --schedule=/tmp/celerybeat-schedule
directory={{ project_root }}/app
environment=DJANGO_SETTINGS_MODULE="app.settings.production"
user=deployer
numprocs=1
stdout_logfile={{ project_root }}/logs/celery_beat.log
stderr_logfile={{ project_root }}/logs/celery_beat.log
autostart=true
autorestart=true
startsecs=10
stopwaitsecs=600
killasgroup=true
priority=1000