{% extends "layout.html" %}

{% block content %}
<div class="auc_accounts__error">
  <h1>Произошла ошибка оплаты</h1>
  Что-то пошло не так, обратитесь, пожалуйста, в техническую поддержку.
</div>
{% endblock %}