{% extends "layout.html" %}

{% block content %}
<div class="auc_accounts__success">
  <h1>Успешная активация премиум</h1>
  Поздравляем! Вы теперь имеете доступ к премиум функционалу сайта.
  <p>Подписка будет активирована как только мы получим подтверждение от платежной системы.</p>

</div>
{% endblock %}