{% extends "layout.html" %}

{% block content %}
  <form class="form-horizontal" name="LoginForm" action="{% url 'accounts:login' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label class="control-label col-sm-2" for="username">Email</label>

      <div class="col-sm-6">
        <input type="text" id="username" name="username" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="password">Password</label>

      <div class="col-sm-6">
        <input type="password" name="password" id="password" class="form-control">
      </div>
    </div>
    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-success">Login</button>
    </div>
  </div>
  </form>
{% endblock %}