{% extends "layout.html" %}
{% load widget_tweaks staticfiles %}

{% block content %}
<div class="auc_accounts__purchase">
  <h1>Покупка премиум</h1>
  <p>Ваш заказ на сумму {{ order.price }}р. готов к оплате.</p>
  <p>После оплаты Ваш премиум доступ продлится на {{ order.months }} мес.</p>

  <form action="https://payments.chronopay.com/" method="POST">
    <input type="hidden" name="product_id" value="{{ product_id }}"/>
    <input type="hidden" name="product_price" value="{{ order.price }}"/>
    <input type="hidden" name="cs1" value="{{ order.id }}" />
    <input type="hidden" name="cb_url" value="http://{{ request.get_host }}{% url 'auc_accounts:cb_callback' %}"/>
    <input type="hidden" name="success_url" value="http://{{ request.get_host }}{% url 'auc_accounts:cb_success' %}"/>
    <input type="hidden" name="decline_url" value="http://{{ request.get_host }}{% url 'auc_accounts:cb_error' %}"/>
    <input type="hidden" name="sign" value="{{ sign }}"/>
    <input type="submit" value="Оплатить"/>
  </form>
</div>
{% endblock %}