{% extends "layout.html" %}

{% load widget_tweaks %}
{% load staticfiles %}
{% block content %}
<div class="auc_accounts__profile">
  <div class="form-header clearfix">Личный кабинет
    {% if user.userprofile.organization %}(организация){% else %}(физ лицо){% endif %}
  </div>
  <div class="cabinet col-sm-*">
    <div class="row">
      <div class="col-sm-6">
        <div class="col-sm-2">
          <img src="{% static 'img/user_photo.png' %}">
        </div>
        <div class="name col-sm-10">
          <p>{{ user_name }}</p>
        </div>
        <div class="col-sm-2">
          <img src="{% static 'img/phone.png' %}">
        </div>
        <div class="phone col-sm-10">
          <p>{{ phone }}
            {% if not user.userprofile.organization and not user.userprofile.verified %}
            <a href="#" class="send_sms" data-user="{{ user.id }}">подтвердить</a> <br>
            <span>Подтвердите Ваш номер телефона, чтобы получить демо доступ на 15 дней.</span>
          <form action="{% url 'auc_accounts:verify_phone' %}" method="post" class="send-form">
            {% csrf_token %}
            <input type="text" name="sms_code">
            <input type="submit" value="OK">
          </form>
          {% elif not user.userprofile.organization %}
          <i class="fa fa-check-square-o"></i>
          {% endif %}
          </p>
        </div>
        <div class="col-sm-2">
          <img src="{% static 'img/mail.png' %}" height="12" width="19">
        </div>
        <div class="mail col-sm-10">
          <p>{{ email }}</p>
        </div>
      </div>
      <div class="col-sm-6">

        {% if user.userprofile.is_premium %}
        <div class="col-sm-2">
          <i class="fa fa-money fa-2x default-label-margin"></i>
        </div>
        <div class="name col-sm-10">
          <p>Премиум подписка до {{ user.userprofile.premium_expiration_date }}</p>
        </div>
        {% else %}
        <div class="col-sm-2">
          <i class="fa fa-usd fa-2x default-label-margin"></i>
        </div>
        <div class="name col-sm-10">
          <h1>Покупка премиум</h1>
          <ul>
            {% for order in orders %}
              <li><a href="{% url 'auc_accounts:order' order.id %}">Заказ на срок {{ order.months }} мес.</a></li>
            {% endfor %}
          </ul>

          <form action="{% url 'auc_accounts:create_order' %}" method="post">
            {% csrf_token %}
            <div class="form-group clearfix">
              <label for="months" class="control-label">Период (месяцев):</label>
              <select name="months" id="months">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
              </select>
            </div>
            <input type="submit" value="Сделать заказ">
          </form>
        </div>
        {% endif %}
      </div>
    </div>
    <form action="{% url 'auc_accounts:profile' %}" method="post">
      {% csrf_token %}
      <div class="form-group clearfix">
        <div class="col-sm-6">
          <div class="checkbox">
            {{ form.email_subscribe }}
            <label>
              Получать новостную расслыку на e-mail
            </label>
          </div>
        </div>
      </div>
      <hr>
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                 aria-expanded="true" aria-controls="collapseOne">
                Изменение данных
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse" role="tabpanel"
               aria-labelledby="headingOne">
            <div class="panel-body">
              <div class="form-group clearfix">
                <label for="filter_name" class="col-sm-3 control-label">
                  {% if user.userprofile.organization %}Название:{% else %}Ваше имя:{% endif %}
                </label>
                {{ form.first_name.errors }}
                <div class="col-sm-6">
                  {{ form.first_name|add_class:'form-control' }}
                </div>
              </div>
              {% if user.userprofile.organization %}
              <div class="form-group clearfix">
                <label for="filter_name" class="col-sm-3 control-label">ИНН:</label>
                {{ form.ogrn.errors }}
                <div class="col-sm-6">
                  {{ form.ogrn|add_class:'form-control'|attr:"disabled" }}
                </div>
              </div>
              {% else %}
              <div class="form-group clearfix">
                <label for="filter_name" class="col-sm-3 control-label">Фамилия:</label>
                {{ form.last_name.errors }}
                <div class="col-sm-6">
                  {{ form.last_name|add_class:'form-control' }}
                </div>
              </div>
              {% endif %}
              <div class="form-group clearfix">
                <label for="filter_name" class="col-sm-3 control-label">E-mail:</label>
                {{ form.email.errors }}
                <div class="col-sm-6">
                  {{ form.email|add_class:'form-control' }}
                </div>
              </div>
              <div class="form-group clearfix">
                <label for="filter_name" class="col-sm-3 control-label">Телефон:</label>
                {{ form.phone.errors }}
                <div class="col-sm-6">
                  {{ form.phone|add_class:'form-control' }}
                </div>
              </div>
              <div class="form-group clearfix">
                <label for="filter_name" class="col-sm-3 control-label">Город:</label>
                {{ form.city.errors }}
                <div class="col-sm-6">
                  {{ form.city|add_class:'form-control' }}
                </div>
              </div>
              <br>

              <div class="col-sm-*">
                <h4>Сменить пароль</h4></div>
              <div class="form-group clearfix">
                <label for="filter_name" class="col-sm-3 control-label">Старый пароль:</label>
                {{ form.password.errors }}
                <div class="col-sm-6">
                  {% render_field form.password type='password' class='form-control' %}
                </div>
              </div>
              <div class="form-group clearfix">
                <label for="filter_name" class="col-sm-3 control-label">Новый пароль:</label>
                {{ form.password1.errors }}
                <div class="col-sm-6">
                  {% render_field form.password1 type='password' class='form-control' %}
                </div>
              </div>
              <div class="form-group clearfix">
                <label for="filter_name" class="col-sm-3 control-label">Подтвердите новый
                  пароль:</label>
                {{ form.password2.errors }}
                <div class="col-sm-6">
                  {% render_field form.password2 type='password' class='form-control' %}
                </div>
              </div>
              <div class="col-sm-4">
                <button type="submit" class="btn btn-success btn-lg">Сохранить изменения</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}