{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>
    {% block head-title %}
    Торги по банкротству – поиск лотов, сопровождение сделок. г. Москва, тел. +7 (499) 899-05-05
    {% endblock %}
  </title>
  <meta name="description" content="{% block head-description %}
    Банк-Лот – система поиска лотов на аукционах по банкротству. Поможем принять участие в торгах по банкротству,
    от получения ЭЦП до оформления всех необходимых документов. г. Москва, тел. +7 (499) 899-05-05
    {% endblock %}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
</head>

<body>
<div class="wrapper {% if user.is_authenticated %} logged-in {% else %} not-logged-in {% endif %}">
  <div class="navbar navbar-static-top navbar-inverse main-nav" role="navigation">
    <div class="container">
      <div class="navbar-header pull-left">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'index' %}"><b>БАНК-ЛОТ</b></a>
      </div>

      <div class="navbar-right nav header-auth {% if user.is_authenticated %} is-sign-in{% endif %}">
        {% if user.is_authenticated %}
        <a href="{% url 'auth_logout' %}" class="header-auth__item header-auth__item--fa">
          <i class="fa fa-sign-out fa-2x"></i>
        </a>
        <a href="/auc_accounts/profile" class="header-auth__item">
            <span class="btn-reg">
              {% if user.first_name %}
                {{ user.first_name }}
              {% else %}
                {{ user.username }}
              {% endif %}
            </span>
        </a>
        {% else %}
        <a href="{% url 'auth_login' %}" class="header-auth__item header-auth__item--fa">
          <i class="fa fa-sign-in fa-2x"></i>
        </a>
        <a href="{% url 'registration_register' %}" class="header-auth__item">
          <span class="btn-reg">Регистрация</span>
        </a>
        {% endif %}
      </div>

      <div class="collapse navbar-collapse navbar-left main-menu">
        <ul class="nav navbar-nav">
          <li class="{% if request.path == '/auction' %} active {% endif %} main-menu__item">
            <a href="{% url 'auction:lot_list' %}">
              Торги
            </a>
          </li>
          <li class="{% if request.path == '/services' %} active {% endif %} main-menu__item">
            <a href="{% url 'services' %}">
              Услуги
            </a>
          </li>
          <!--<li class="{% if request.path == '/price' %} active {% endif %} main-menu__item">-->
            <!--<a href="{% url 'price' %}">-->
              <!--Тарифы-->
            <!--</a>-->
          <!--</li>-->
          <li class="{% if request.path == '/partners' %} active {% endif %} main-menu__item">
            <a href="{% url 'partners' %}">
              Партнеры
            </a>
          </li>
          <li class="{% if request.path == '/forums' %} active {% endif %} main-menu__item">
            <a href="{% url 'forums:overview' %}">
              Форумы
            </a>
          </li>
          <li class="{% if request.path == '/contacts' %} active {% endif %} main-menu__item">
            <a href="{% url 'contacts' %}">
              Контакты
            </a>
          </li>
        </ul>
      </div>


    </div>

  </div>

  <main class="content">
    {% block layout %}
    Reload me
    {% endblock %}
  </main>

</div>

<footer class="clearfix footer" id="footer">
  <div class="container">
    <p class="col-xs-12 col-sm-4 col-md-3"><img src="http://placehold.it/200x40">
      <img src="http://placehold.it/40x40"></p>

    <div class="clearfix col-xs-12 col-lg-offset-1 col-md-5 col-sm-8 text-left ">
      <ul class="list-unstyled">
        <!--<li {% if request.path == '/about' %} class="active" {% endif %}>-->
          <!--<a href="{% url 'about' %}">-->
            <!--О проекте-->
          <!--</a>-->
        <!--</li>-->
        <li {% if request.path == '/services' %} class="active" {% endif %}>
          <a href="{% url 'services' %}">
            Услуги
          </a>
        </li>
        <li {% if request.path == '/price' %} class="active" {% endif %}>
          <a href="{% url 'price' %}">
            Тарифы
          </a>
        </li>
        <li {% if request.path == '/contacts' %} class="active" {% endif %}>
        <a href="{% url 'contacts' %}">
          Контакты
        </a>
        </li>
        <li {% if request.path == '/partners' %} class="active" {% endif %}>
        <a href="{% url 'partners' %}">
          Партнеры
        </a>
        </li>
      </ul>

      <div class="footer__links">
        <p class="footer__links__item"><a href="{% url 'rules' %}">
          Правила и политика использования сайта
        </a></p>
      </div>

    </div>
    <p class="col-xs-12 col-md-offset-0 col-md-3 footer__meta">
      <span class="text-muted footer__meta__item">Email тех. поддержки</span>
      <span class="footer__meta__item"><a href="mailto:support@banklot.ru">support@banklot.ru</a></span>
      <span class="text-muted footer__meta__item">
        Электронная почта
      </span>
        <span class="footer__meta__item">
        <a href="mailto:vashlot@mail.ru">vashlot@mail.ru</a>
      </span>
      <span>
        <!-- Yandex.Metrika informer -->
        <a href="https://metrika.yandex.ru/stat/?id=33823419&amp;from=informer"
        target="_blank" rel="nofollow"><img src="https://informer.yandex.ru/informer/33823419/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
        style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:33823419,lang:'ru'});return false}catch(e){}" /></a>
        <!-- /Yandex.Metrika informer -->

        <!-- Yandex.Metrika counter --><script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter34664390 = new Ya.Metrika({ id:34664390, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="https://mc.yandex.ru/watch/34664390" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
      </span>
      <span class="footer__meta__item">
        <a href="http://www.pd-s.ru">Сделано в "Дизайн-проект"</a>
      </span>
    </p>
  </div>
</footer>
<script src="{% static 'js/main.js' %}"></script>
{% block extra_js %}
{% endblock %}
</body>
</html>