{% extends 'base.html' %}
{% load staticfiles %}
{% block layout %}

  <div class="container">
    <div class="row row-offcanvas row-offcanvas-left">
      <div class="sidebar-offcanvas col-xs-2 col-sm-1 col-md-1" role="navigation" id="sidebar">
        <div class="well sidebar-nav text-center">
          {% block side_menu %}
            {% include 'side_menu.html' %}

          {% endblock %}
        </div>
      </div>
      <div class="col-xs-12 col-md-10 col-sm-10">
        <p class="visible-xs offcanvas-toggle">
          <button type="button" class="btn btn-primary btn-xs js-offcanvas-btn" data-toggle="offcanvas">Показать меню
          </button>
        </p>
        <div class="row clear real-content">
          <div class="col-sm-12">
            {% block breadcrumbs %}{% endblock %}
            {% block title %}{% endblock %}
            {% block content %}
              Not found
            {% endblock %}
          </div>
        </div>
        <!-- <hr /> -->
      </div>
    </div>
  </div>
{% endblock %}