{% load staticfiles %}
<ul class="nav row">
  <li class="col-xs-12 sidebar-nav__item{% if location == 'auction' %} active {% endif %}">
    <a href="{% url 'auction:lot_list' %}">
      <img src="{% static 'img/lots.png' %}">
      <p>ТОРГИ</p>
    </a>
  </li>
  <li class="col-xs-12 sidebar-nav__item {% if location == 'favorite' %} active {% endif %}">
    <a href="{% url 'auction:favorite_list' %}">
      <img src="{% static 'img/favorits.png' %}">
      <p>ИЗБРАННОЕ</p>
    </a>
  </li>
  <li class="col-xs-12 sidebar-nav__item {% if location == 'auction_monitoring' %} active {% endif %}">
    <a href="{% url 'auction:monitoring' %}">
      <img src="{% static 'img/monitoring.png' %}">

      <p>МОНИТОРИНГ</p>
    </a>
  </li>
  <li class="col-xs-12 sidebar-nav__item {% if request.path == '/calendar/' %} active {% endif %}">
    <a href="{% url 'auction:calendar' %}">
      <img src="{% static 'img/calendar.png' %}">

      <p>КАЛЕНДАРЬ</p>
    </a>
  </li>
  <li class="col-xs-12 sidebar-nav__item {% if request.path == 'auction/question/' %} active {% endif %}">
    <a href="{% url 'auction:question_form' %}">
      <img src="{% static 'img/yurist.png' %}">

      <p>ВОПРОС ЮРИСТУ</p>
    </a>
  </li>
<!--{#   <li class="col-xs-12 sidebar-nav__item {% if request.path == '/analitic/' %} active {% endif %}">
    <a href="{% url 'analitic' %}">
      <img src="{% static 'img/analytics.png' %}">

      <p>АНАЛИТИКА</p>
    </a>
  </li>
  <li class="col-xs-12 sidebar-nav__item {% if request.path == '/secretary/' %} active {% endif %}">
    <a href="{% url 'secretary' %}">
      <img src="{% static 'img/secretary.png' %}">

      <p>СЕКРЕТАРЬ</p>
    </a>
  </li> #}-->
  <!--<li class="col-xs-12 sidebar-nav__item {% if request.path == '/price/' %} active {% endif %}">-->
    <!--<a href="{% url 'auction:lot_list' %}">-->
      <!--<img src="{% static 'img/menu_8.png' %}">-->

      <!--<p>Настройки</p>-->
    <!--</a>-->
  <!--</li>-->
</ul>