/// Block Element
/// @access public
/// @param {String} $element - Element's name
@mixin element($element) {
    &__#{$element} {
        @content;
    }
}

/// Block Modifier
/// @access public
/// @param {String} $modifier - Modifier's name
// /* @mixin modifier($modifier) {
//     &--#{$modifier} {
//         @content;
//     }
// }

// /// @alias element
// @mixin e($element) {
//     @include element($element)  {
//         @content;
//     }
// }

// /// @alias modifier
// @mixin m($modifier) {
//     @include modifier($modifier) {
//         @content;
//     }
// } */

$elementSeparator: '__';
$modifierSeparator: '--';
 
@function containsModifier($selector) {
    $selector: selectorToString($selector);
    @if str-index($selector, $modifierSeparator) {
        @return true;
    } @else {
        @return false;
    }
}
 
@function selectorToString($selector) {
    $selector: inspect($selector); //cast to string
    $selector: str-slice($selector, 2, -2); //remove brackets
    @return $selector;
}
 
@function getBlock($selector) {
    $selector: selectorToString($selector);
    $modifierStart: str-index($selector, $modifierSeparator) - 1;
    @return str-slice($selector, 0, $modifierStart);
}
 
@mixin b($block) {
    .#{$block} {
        @content;
    }
}
 
@mixin e($element) {
    $selector: '&';
    @if containsModifier($selector) {
        $block: getBlock(unquote($selector));
        @at-root {
            #{unquote($selector)} {
                #{$block+$elementSeparator+$element} {
                    @content;
                }
            }
        }
    } @else {
        @at-root {
            #{unquote($selector)+$elementSeparator+$element} {
                @content;
            }
        }
    }
}
 
@mixin m($modifier) {
    @at-root {
        &#{$modifierSeparator+$modifier} {
            @content;
        }
    }
}


@mixin breakpoint($name) {
  @if $name == "small" {
    @media (max-width: 767px) {
      @content;
    }
  }
  @else if $name == "medium" {
    @media (max-width: 1024px) {
      @content;
    }
  }
  @else if $name == "large" {
    @media (min-width: 1025px) {
      @content;
    }
  }
}
@mixin breakpoint($point) {
  @if $point == large {
    @media (min-width: 64.375em) { @content; }
  }
  @else if $point == medium {
    @media (min-width: 50em) { @content; }
  }
  @else if $point == small {
    @media (min-width: 37.5em)  { @content; }
  }
}


// =new ($name, $type: null)
//   @at-root
//     @if $type != null
//       .#{$name}-#{$type}
//         /**/
//         @content
//     @else
//       .#{$name}
//         /**/
//         @content

// =if-its ($state)
//   & is-#{$state}
//     /**/
//     @content

// =holds ($something)
//   & .holds-#{$something}
//     /**/
//     @content

// =has ($name)
//   @at-root
//     #{&}__#{$name}
//       /**/
//       @content

// =when ($name)
//   @at-root
//     #{&}--#{$name}
//       /**/
//       @content





 //Example A: The classic media object
      // +new (media, object)
      //   +has (image)
      //     +when (reversed)
      //   +has (body)

      // // Example B: The person OOP example from CSS Wizardry
      // +new (person)
      //   +has (hand)
      //     +when (left)
      //     +when (right)

      //     +if-its (open)
      //     +holds (ring)

      //   +when (female)
      //     +has (hand)

      // // Example C: The puppet, using more classic OOP, thanks to @zerratar for an awesome way of explaining OOP in terms of puppets and puppetmasters
      // +new (puppet)
      //   +has (head)
      //   +has (face)
      //   +has (arm)
      //     +when (left)
      //     +when (right)
      //   +has (leg)
      //     +when (left)
      //     +when (right)
      //     +when (wooden)
      //   +has (foot)

      // // Example D: Menu with menu items that can have a dropdown
      // +new (menu, component)
      //   +has (item)
      //     +when (active)
      //     +holds (dropdown)

      // // Example E: Modal with title, gallery modifier and open state
      // +new (modal, component)
      //   +has (title)

      //   +when (gallery)

      //   +if-its (open) // translates to is-open
      // //