.clear {
	clear: both;
}

.clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

/*====================
=======  Base  ======
====================*/
.reset {
  p,
  h1,
  h2,
  h3,
  h4,
  table {
    padding: 0;
    margin: 0;
  }
}
/*====================
===== end Base  ======
====================*/

/*====================
=======  Block  ======
====================*/
.row-inline-block {
  & > * {
    display: block;
    float: left;
    clear: both;
    padding: 4px;
  }
}
.right {
  float: right;
}
.m0 {
  margin: 0;
}
.p0 {
  padding: 0;
}

.pl0 {
  padding-left: 0 !important;
}
.pr0 {
  padding-right: 0 !important;
}

.hAll {
  height: 100%;
}

.wAll {
  width: 100%;
}
.clearBlock {
  @include clearBlock();
}
.height10 {
  height: 10px;
}
/*====================
===== end Block  =====
====================*/


/*====================
========  Text  ======
====================*/
.text-black {
  color: #000;
}
.text-uppercase {
  text-transform: uppercase;
}
/*====================
====== end Text  =====
====================*/


/*====== Table =====*/
.no-top-bd {
  tr:first-child {
    td {
      border-top: none;
    }
  }
}
/*====== end Table =====*/