@mixin gradient-bg-2($begin_color, $end_color) {
	background: $begin_color; /* Old browsers */
	/* IE9 SVG, needs conditional override of ‘filter’ to ‘none’ */
	background: -moz-linear-gradient(top, $begin_color 0%, $end_color 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$begin_color), color-stop(100%,$end_color)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, $begin_color 0%,$end_color 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, $begin_color 0%,$end_color 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, $begin_color 0%,$end_color 100%); /* IE10+ */
	background: linear-gradient(to bottom, $begin_color 0%,$end_color 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=’$begin_color’, endColorstr=’$end_color’,GradientType=0 ); /* IE6-8 */
}

@mixin linearGradient($top, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

@mixin clearBlock($direction: left) {
  clear: both;
  float: $direction;
  padding: 0;
  margin-top: 10px;
}
