.footer {
	margin: 0;
	padding: 10px 0;
	color: #fff;

	&.fixedFooter {
		position: absolute;
		width: 100%;
		bottom: 0;
	}

	a {
		color: #fff;
		
		&:hover {
			color: #FE9A00 !important;
		}
	}

	&__links {
		&__item {
			a {
				text-decoration: underline;
			}
			
			@media (max-width: 992px) {
				& {
					float: left;

					a {
						display: block;
						padding: 5px;

					}
				}
			}
		}
	}

	&__meta {
		color: #fff;
		&__item {
			display: block;

			@media (max-width: 992px) {
				& {
					float: left;
					padding: 5px;
				}
			}
		}
	}
}