.main-nav {
	@include linearGradient(#42535e, #2b363d);
}

.header-auth {
	&__item {
		float: right;

		&--fa {
			color: #fff;
			display: inline-block;
			margin: 13px 0 0 15px;

			.fa {
				&:hover {
					color: firebrick;
				}
			}
		}
	}

	
}

.offcanvas-toggle {
	@include clearfix;
}