.main-menu {

	& {
		@media (max-width: 767px) {
			clear: both;
		}
	}

	&__item {
		border-right: 2px solid #28353D;
		
		&:first-child {
			border-left: 2px solid #28353D;
		}

		&:hover {
			background-color: #FE9A00;

			a {
				color: #000 !important;
				
			}
		}
		a {
			color: #fff !important;
			font-weight: 700;
		}
		// &--sell{
		// 	a {
		// 		margin: 10px;
		// 		color: red !important;
		// 		font-size: 20px;
		// 		margin-left: 30px;
		// 		border: 1px solid red;
		// 		padding: 5px !important;
		// 	}
		// 	a:hover{
		// 		-moz-transform: rotate(10deg); /* Для Firefox */
		//     -ms-transform: rotate(10deg); /* Для IE */
		//     -webkit-transform: rotate(10deg); /* Для Safari, Chrome, iOS */
		//     -o-transform: rotate(10deg); /* Для Opera */
		//     transform: rotate(10deg);
		// 	}
		// }
		
	}
}