#sidebar {
	@media screen and (min-width: 767px) {
		width: 100px;     
	}
    @media screen and (max-width: 767px) {        
        .sidebar-nav__item p {
            visibility: visible !important;
        }
    }
    padding: 0;
    .sidebar-nav {
        @include border-radius(5px);
        border: 1px solid #bbbbbb;
        background: #ffffff;

        &__item {
            // padding: 0;
            p {
                text-align: center;
                font-size: 10px;
                visibility: hidden;
			
            }
            &.active {
                background: none;
                a {
                    background: #FE9A00;
                }
            }
            &:hover:not('.active') {
                a {
                    background: #e9e9e9;
                }
            }
            a {
                color: #42535e;
                font-weight: bold;
                padding-bottom: 2px;
            }
            img {
                // margin-bottom: 10px;
            }
            
        }
        
    }
   
}
