.panel-heading {
	.btn .caret {
		margin-bottom: 5px;
	}

	a {
		display: block;
	}

	.dropdown-menu {
		margin-top: 4px !important;
		right: -100%;
		left: inherit;

		li {
			margin-right: 0 !important;
		}

		.dropdown-alert {
			a {
				color: $secondary-color;
				font-size: 11px;
			}
			
		}

		.fa {
			font-size: 14px;
			padding-left: 0;
		}
	}

	.dropdown-header {
		  margin: 0;
		margin-top: 5px;
		  padding: 3px 20px;
	}
}