.va-flex {
  display: flex;
  flex-direction: row;
}

.va-flex > [class^="col-"],
.va-flex > [class*=" col-"] {
  display: flex;
  align-items: center;
  // justify-content: center; // Add this for horizontal align
}

.row.va-table {
	display: table;
	width: 100%;

	& > [class^="col-"],
	& > [class*=" col-"] {
		display: table-cell;
		vertical-align: middle;
	}
}

.row.va-in-bl {
	font-size: 0;

	& > [class*="col"] {
		  display: inline-block;
		  float: none;
		  vertical-align: middle;
	}
}