{% extends "layout.html" %}

{% block head-title %}
Проект аукционов по банкротству в Москве. Новая электронная площадка. Тел. +7 499 899 05 05
{% endblock %}

{% block head-description %}
Сайт электронных торгов Банк-Лот. Поиск аукционов по продаже имущества должников в Москве - основная задача проекта.
Информация о лотах по банкротству обновляется каждый час! Тел. +7 499 899 05 05
{% endblock %}

{% block content %}

<div class="container about_page">
  <div class="row">
    <div class="col-sm-10">
      <h4>Здравствуйте!</h4>

      <p>Команда проекта “Банкрот-лот” представляет вашему вниманию систему поисков лотов по банкротству. Данная
        система, которую мы разработали, сканирует торговые площадки, и собирает все лоты, опубликованные на них.
        Обновление нашей базы данных происходит каждый час, в этом заключается одна из особенностей нашей системы.
        Для Вашего удобства мы разработали мониторинг лотов, с помощью которого вы можете находить лоты, соответствующие
        вашим требованиям. Информацию о новых лотах, вы будете получать на электронную почту, а в будущем и по sms.
        В нашей компании работают юристы - профессионалы, которые помогут вам с оформлением заявки на участие в торгах,
        проверке лота “на чистоту” и т.п.</p>

      <p>Наша система сама, частично проверяет лоты “на чистоту”, сверяя данные с единым федеральным реестром сведений о
        банкротстве.</p>

      <p>Будем Вам благодарны за помощь развития нашего проекта, присылайте нам ваши замечания и пожелания на
        электронный адрес <a href="mailto:support@bankrot-lot.ru">support@bankrot-lot.ru.</a></p>

      <p>Мы постоянно работаем над улучшением нашей системы, чтобы вам было удобно получать выгоду.</p>

    </div>
  </div>
</div>


{% endblock %}