{% extends "layout.html" %}
{% block content %}

<div class="services-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-10">
        <h4>Страница в разработке.</h4>
        
      </div>
    </div>
  </div>
</div>

{% endblock %}