{% extends "layout.html" %}

{% block head-title %}
Контакты компании по поиску аукционов по банкротству в Москве. Тел. +7 499 899 05 05
{% endblock %}

{% block head-description %}
Контактная информация организации Банк-Лот (Москва). Предоставление вариантов аукционов по продаже имущества должников,
помощь в торгах в электронной форме. E-Mail - secretery@banklot.ru. Тел. +7 499 899 05 05
{% endblock %}

{% block content %}
<h3>Контактная информация</h3>

ООО "Ваш Лот"<br/>
115114, г.Москва, Дербеневская набережная, д.7,стр.2,офис 431 <br/>
время работы: пн-пт 9:00-18:00 <br/>
телефон: 8 (499) 899-05-05 <br/>
<br/>
по вопросам сотрудничества: <a href="mailto:vashlot@mail.ru">vashlot@mail.ru</a> <br/>
по вопросам торгов: <a href="mailto:torgi@banklot.ru">torgi@banklot.ru</a> <br/>
техническая поддержка: <a href="mailto:support@banklot.ru">support@banklot.ru</a> <br/>
юридическая помощь:    <a href="mailto:lawyer@banklot.ru">lawyer@banklot.ru</a> <br/>
<br/>
Реквизиты: <br/>
ИНН : 7725292040 <br/>
КПП : 772501001 <br/>
ОГРН: 1157746938733 <br/>
Генеральный директор Рязанцев Максим Андреевич действует на основании Устава <br/>
<br/>
Банковские реквизиты: <br/>
Банк: ПАО Сбербанк России <br/>
БИК: 044525225 <br/>
к/р: 30101 810 4000 0000 0225 <br/>
р/с: 40702 810 8380 0007 3057 <br/>

{% endblock %}