{% extends "layout.html" %}

{% block head-title %}
Партнеры интернет-проекта по поиску лотов по банкротству в Москве. Тел. +7 499 899 05 05
{% endblock %}

{% block head-description %}
Информация о партнерах онлайн проекта Банк-Лот. Предлагаем кураторство в сфере электронных торгов и аукционов в Москве,
квалифицированную помощь в покупках по банкротству. Тел. +7 499 899 05 05
{% endblock %}

{% block content %}
<div class="services-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-10">
        <h4>Приглашаем к сотрудничеству. <a href="{% url 'contacts' %}">Справки по телефону</a></h4>
      </div>
    </div>
  </div>
</div>
{% endblock %}