{% extends "layout.html" %} {% block content %}
<div class="rules-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-10">

        <p class="p1">
          <span class="s1"><h3>Пользовательское соглашение</h3></span></p>
        <p class="p2">
          &nbsp;</p>

        <p class="p3">
          <span class="s1">Настоящее Соглашение определяет условия использования Пользователями материалов и сервисов сайта banklot.ru (далее &mdash; &laquo;Сайт&raquo;).</span>
        </p>

        <p class="p2">
          &nbsp;</p>

        <p class="p1">
          <span class="s1"><b>1.Общие условия</b></span></p>

        <p class="p2">
          &nbsp;</p>

        <p class="p3">
          <span class="s1">1.1. Использование материалов и сервисов Сайта регулируется нормами действующего законодательства Российской Федерации.</span>
        </p>

        <p class="p2">
          &nbsp;</p>

        <p class="p3">
          <span class="s1">1.2. Настоящее Соглашение является публичной офертой. Получая доступ к материалам Сайта Пользователь считается присоединившимся к настоящему Соглашению.</span>
        </p>

        <p class="p2">
          &nbsp;</p>

        <p class="p3">
          <span class="s1">1.3. Администрация Сайта вправе в любое время в одностороннем порядке изменять условия настоящего Соглашения. Такие изменения вступают в силу по истечении 3 (Трех) дней с момента размещения новой версии Соглашения на сайте. При несогласии Пользователя с внесенными изменениями он вправе отказаться от доступа к Сайту.</span>
        </p>

        <p class="p2">
          &nbsp;</p>

        <p class="p1">
          <span class="s1"><b>2. Обязательства Пользователя</b></span></p>

        <p class="p4">
          &nbsp;</p>

        <p class="p3">
          <span class="s1">2.1. Пользователь соглашается не предпринимать действий, которые могут рассматриваться как нарушающие российское законодательство или нормы международного права, в том числе в сфере интеллектуальной собственности, авторских и/или смежных правах, а также любых действий, которые приводят или могут привести к нарушению нормальной работы Сайта и сервисов Сайта.</span>
        </p>

        <p class="p2">
          &nbsp;</p>

        <p class="p3">
          <span class="s1">2.2. Использование материалов Сайта без согласия правообладателей не допускается (статья 1270 ГК РФ). Для правомерного использования материалов Сайта необходимо заключение лицензионных договоров (получение лицензий) от Правообладателей.</span>
        </p>

        <p class="p2">
          &nbsp;</p>

        <p class="p3">
          <span class="s1">2.3. При цитировании материалов Сайта, включая охраняемые авторские произведения, ссылка на Сайт обязательна (статья 1274 ГК РФ).</span>
        </p>

        <p class="p2">
          &nbsp;</p>

        <p class="p3">
          <span class="s1">2.4. Комментарии и иные записи Пользователя на Сайте не должны вступать в противоречие с требованиями законодательства Российской Федерации и общепринятых норм морали и нравственности.</span>
        </p>

        <p class="p2">
          &nbsp;</p>

        <p class="p3">
          <span class="s1">2.5. Пользователь предупрежден о том, что Администрация Сайта не несет ответственности за посещение и использование им внешних ресурсов, ссылки на которые могут содержаться на сайте.</span>
        </p>

        <p class="p2">
          &nbsp;</p>

        <p class="p3">
          <span class="s1">2.6. Пользователь согласен с тем, что Администрация Сайта не несет ответственности и не имеет прямых или косвенных обязательств перед Пользователем в связи с любыми возможными или возникшими потерями или убытками, связанными с любым содержанием Сайта, регистрацией авторских прав и сведениями о такой регистрации, товарами или услугами, доступными на или полученными через внешние сайты или ресурсы либо иные контакты Пользователя, в которые он вступил, используя размещенную на Сайте информацию или ссылки на внешние ресурсы.</span>
        </p>

        <p class="p2">
          &nbsp;</p>

        <p class="p3">
          <span class="s1">2.7. Пользователь принимает положение о том, что все материалы и сервисы Сайта или любая их часть могут сопровождаться рекламой. Пользователь согласен с тем, что Администрация Сайта не несет какой-либо ответственности и не имеет каких-либо обязательств в связи с такой рекламой.</span>
        </p>

        <p class="p2">
          &nbsp;</p>

        <p class="p1">
          <span class="s1"><b>3. Аккаунт</b></span></p>

        <p class="p4">
          &nbsp;</p>

        <p class="p5">
          <span class="s1">3.1. Доступ к ресурсам сайта предоставляется только зарегистрированным пользователям.</span>
        </p>

        <p class="p4">
          &nbsp;</p>

        <p class="p3">
          <span class="s1">3.2 Базовый аккаунт (FREE), предоставляется бесплатно всем зарегистрированным пользователям. Наличие только базового аккаунта дает возможность пользоваться сайтом в ограниченном режиме. Ограничения касаются информации о лотах торгов.</span>
        </p>

        <p class="p2">
          &nbsp;</p>

        <p class="p3">
          <span class="s1">3.3 Профессиональный аккаунт (PREMIUM) это услуга которая предоставляется зарегистрированному пользователю сайта на платной основе. Наличие профессионального аккаунта дает доступ к большему количеству информации по сравнению с базовым аккаунтом.</span>
        </p>

        <p class="p2">
          &nbsp;</p>

        <p class="p3">
          <span class="s1">3.4 Профессиональный аккаунт приобретается одним пользователем и должен использоваться тем же пользователем, который его приобрел. Запрещается использование профессионального аккаунта несколькими пользователями. А также запрещается передавать, сообщать кому-либо идентификационные данные от своей учетной записи (пароль для входа).</span>
        </p>

        <p class="p2">
          &nbsp;</p>

        <p class="p1">
          <span class="s1"><b>4. Платежи.</b></span></p>

        <p class="p4">
          &nbsp;</p>

        <p class="p3">
          <span class="s1">4.1. Сайт <a href="http://banklot.ru/"><span class="s2">http://banklot.ru/</span></a> подключен к интернет &ndash;
            эквайрингу и Вы можете оплатить услугу доступа банковской картой Visa и Mastercard. После подтверждения покупки выбранной Вами услуги Вы будете перенаправлены на защищенную страницу процессингового центра, где Вам необходимо будет ввести данные банковской карты. Для дополнительной аутенфикации держателя карты используется протокол 3D Secure. В случае если Ваш банк не поддерживает данную технологию, вы будете перенаправлены для дополнительной идентификации на сервер Вашего банка.</span>
        </p>

        <p class="p2">
          &nbsp;</p>

        <p class="p3">
          <span class="s1">4.2. Предоставляемая Вами при осуществлении платежей персональная информация является конфиденциальной и не подлежит разглашению. Данные Вашей банковской карты передаются только в зашифрованном виде и не сохраняются на нашем web-сервере.</span>
        </p>

        <p class="p2">
          &nbsp;</p>

        <p class="p3">
          <span class="s1">4.3. Все услуги, приобретенные Вами на сайте <a href="http://banklot.ru/"><span class="s2">http://banklot.ru/</span></a> становятся доступными после подтверждения оплаты.</span>
        </p>

        <p class="p2">
          &nbsp;</p>

        <p class="p3">
          <span class="s1">4.4. Правила возврата товара (услуги) регулируются ст. 26.1. Закона Российской Федерации от 07.02.1992 N 2300-1 (ред. от 13.07.2015) &laquo;О защите прав потребителей&raquo;
            (ссылка <a
                href="https://www.consultant.ru/document/cons_doc_LAW_305/1525b1a2f037db240c8e6a749619f86e53857f13/"><span
                class="s3">https://www.consultant.ru/document/cons_doc_LAW_305/1525b1a2f037db240c8e6a749619f86e53857f13/</span></a></span><span
            class="s4">).</span><span class="s1">&nbsp;</span></p>

        <p class="p2">
          &nbsp;</p>

        <p class="p1">
          <span class="s1"><b>5. Сервис &laquo;Форумы&raquo;</b></span></p>

        <p class="p4">
          &nbsp;</p>

        <p class="p3">
          <span class="s1">5.1 Администрация Сайта имеет доступ ко всем публикациям &laquo;Форума&raquo; во избежание нарушений условий настоящего Пользовательского Соглашения.</span>
        </p>

        <p class="p2">
          &nbsp;</p>

        <p class="p3">
          <span class="s1">5.2 В сервисе &laquo;Форумы&raquo; Пользователь обязуется соблюдать условия Пользовательского Соглашения.</span>
        </p>

        <p class="p2">
          &nbsp;</p>

        <p class="p3">
          <span
              class="s1">5.3 Запрещено выяснение личных отношений, переход на личности, оскорбления и так далее.</span>
        </p>

        <p class="p2">
          &nbsp;</p>

        <p class="p3">
          <span class="s1">5.4 Ответственность за публикуемый контент, его достоверность и правомерность несет Пользователь, который его публикует.</span>
        </p>

        <p class="p2">
          &nbsp;</p>

        <p class="p3">
          <span class="s1">5.5 Администрация оставляет за собой право отредактировать или удалить любую запись в блоге или комментарий, а также ограничить доступ Пользователю в сервис &laquo;Форумы&raquo;
            в случае выявления нарушений настоящего Соглашения.</span></p>

        <p class="p2">
          &nbsp;</p>

        <p class="p3">
          <span class="s1">5.6 Запрещено размещение рекламных текстов в &laquo;Форуме&raquo; без согласования с Администрацией Сайта.</span>
        </p>

        <p class="p1">
          <span class="s1"><b>6. Конфиденциальность.</b></span></p>

        <p class="p4">
          &nbsp;</p>

        <p class="p3">
          <span class="s1">6.1. Конфиденциальность (обработка (использование) персональных данных) регулируется Федеральным законом от 27 июля 2006 г. N 152-ФЗ &laquo;О персональных данных&raquo;.</span>
        </p>

        <p class="p2">
          &nbsp;</p>

        <p class="p3">
          <span class="s1">6.2. Проект Банк-Лот использует персонифицированную информацию о посетителях сайта исключительно для обеспечения пользователям качественного оказания услуг и их учета. Мы не раскрываем персонифицированных данных одних посетителей сайта <a
              href="http://banklot.ru/"><span class="s2">http://banklot.ru/</span></a> другим посетителям сайта, а также не публикуем их в открытом доступе и не передаем третьим лицам. Исключение составляют ситуации, когда предоставление такой информации предписано действующим законодательством Российский Федерации.</span>
        </p>

        <p class="p2">
          <span class="s1">&nbsp;&nbsp; &nbsp;</span></p>

        <p class="p1">
          <span class="s1"><b>7. Прочие условия</b></span></p>

        <p class="p4">
          &nbsp;</p>

        <p class="p3">
          <span class="s1">7.1. Все возможные споры, вытекающие из настоящего Соглашения или связанные с ним, подлежат разрешению в соответствии с действующим законодательством Российской Федерации.</span>
        </p>

        <p class="p2">
          &nbsp;</p>

        <p class="p3">
          <span class="s1">7.2. Ничто в Соглашении не может пониматься как установление между Пользователем и Администрации Сайта агентских отношений, отношений товарищества, отношений по совместной деятельности, отношений личного найма, либо каких-то иных отношений, прямо не предусмотренных Соглашением.</span>
        </p>

        <p class="p2">
          &nbsp;</p>

        <p class="p3">
          <span class="s1">7.3. Признание судом какого-либо положения Соглашения недействительным или не подлежащим принудительному исполнению не влечет недействительности иных положений Соглашения.</span>
        </p>

        <p class="p2">
          &nbsp;</p>

        <p class="p3">
          <span class="s1">7.4. Бездействие со стороны Администрации Сайта в случае нарушения кем-либо из Пользователей положений Соглашения не лишает Администрацию Сайта права предпринять позднее соответствующие действия в защиту своих интересов и защиту авторских прав на охраняемые в соответствии с законодательством материалы Сайта.</span>
        </p>

        <p class="p2">
          &nbsp;</p>

        <p class="p3">
          <span class="s1"><b>Пользователь подтверждает, что ознакомлен со всеми пунктами настоящего Соглашения и
            безусловно принимает их.</b></span></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
