{% extends "layout.html" %}
{% block content %}


<h2 class="text-center"><strong>Сайт продаётся за 150 000 рублей с последующей доработкой*.</strong></h2>
<p>Сейчас эта система (сайт) «собирает» информацию о лотах, должниках с 10 площадок (всего их 86). Наши специалисты доработают сайт и добавят сбор с остальных 76 площадок.</p>
<p>Вместе с тем, мы разработаем «календарь», в который вы можете добавлять интересные вам лоты и получать напоминания о них. А так же в этот календарь будут попадать лоты, которые Вы добавили в «Избранное».</p>
<p>Разработаем раздел «Мониторинг», который будет собирать лоты из указанных Вами областей (земельные участки, автомобили и т.д.). В этом разделе можно увидеть статистику по выбранным Вами площадкам, анализировать их и многое другое.</p>
<p>Сделаем раздел «Вопрос юристу», разместим в нём форму обратной связи, с помощью которой посетитель сможет задать вопрос Вам и Вашему юристу, таким образом, Вы сможете оказывать платные консультации. При необходимости добавим в этот раздел функцию «Вопрос-ответ», где будут отображаться самые популярные вопросы и ответы на них.</p>
<p>По предварительному согласованию, можем разработать дополнительные функции.</p>
<p>На этапе развития, сайт можно сделать абсолютно бесплатным для пользователей, спустя некоторое время, например 3 месяца, когда пользователей станет большое количество, сайт переведём в «Частично платный» формат, заблокировав некоторые его функции, и разблокировав их определенным группам пользователей за ежемесячную абонентскую плату.</p>
<h2 class="text-center"><strong>Заплатив за сайт сегодня, завтра он будет работать на Вас!</strong></h2>
<em>*Время определённых доработок, ориентировочно 3 месяца. Однако, в эти 3 месяца сайт уже сможет работать на Вас!</em>
<h1 class="text-center" style="font-size: 30px; color: red"><strong>Телефон для покупки сайта</strong></h1>
<h1 class="text-center" style="font-size: 30px; color: red"><strong>8 905 530-30-50</strong></h1>  
{% endblock %}