{% extends "layout.html" %}

{% block head-title %}
Услуги в сфере электронных торгов и аукционов в Москве. Тел. +7 499 899 05 05
{% endblock %}

{% block head-description %}
Полный комплекс услуг в Москве в области проведения электронных торгов.
Оформление ЭЦП, анализ торговых площадок по банкротству, подготовка заявки и др. от профессионалов проекта Банк-Лот.
Тел. +7 499 899 05 05
{% endblock %}

{% block content %}
<div class="services-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-10">
        <h3>Услуги</h3>

        <h3>Оформление электронной цифровой подписи (ЭЦП)</h3>

        <p>ЭЦП удостоверяет юридическую силу электронного документооборота при участии в торгах. Благодаря выстроенным
          партнерским отношениям с удостоверяющими центрами специалисты нашей компании обеспечат оперативный выпуск
          электронной подписи, настроят специализированное программное обеспечение, ответят на все возникшие вопросы (в
          работе).</p>

        <h3>Аккредитация на электронных торговых площадках (ЭТП)</h3>

        <p>После оформления ЭЦП компании-поставщику следует пройти аккредитацию (зарегистрироваться) на торговых
          площадках. Несмотря на кажущуюся простоту процедуры, компаниям не всегда удается самостоятельно пройти ее с
          первого раза. Чтобы Вы смогли оперативно включиться в борьбу за государственные заказы, наши специалисты
          сформируют заявку на аккредитацию и проверят комплект необходимых документов.</p>

        <h3>Анализ торгов</h3>

        <p>Объективно оценив собственные силы и выгоды от участия в интересующих торгах, не забудьте проанализировать
          интересующий тендер на наличие коррупционной составляющей. Специалисты наше компании проведут комплексную
          проверку тендерной документации и помогут выявить факты «затачивания» технического задания под конкретного
          поставщика.</p>

        <h3>Составление запроса относительно предмета торгов</h3>

        <p>Согласно действующему законодательству, участники торгов имеют право сделать запросы относительно предмета
          торгов. Специалисты нашей компании помогут подготовить корректный запрос.</p>

        <h3>Подготовка заявки на участие в торгах</h3>

        <p>Наши специалисты помогут Вам грамотно оформить заявку на участие в торговой процедуре.</p>

        <h3>Участие в торгах</h3>

        <p>Именно результаты торгов являются во многом определяющими при выборе победителя. Поэтому при участии в online
          торгах важно заручиться поддержкой профессионалов. По доверенности от Вас сотрудники нашей компании с
          использованием нашей ЭЦП проведут весь комплекс мероприятий.</p>

        <h3>Подготовка и направление жалобы в ФАС, участие в Арбитражных судах.</h3>

        <p>Вашу заявку необоснованно отклонили? В соответствии с законодательством, любой участник торгов может
          обратиться с жалобой на неправомерные действия организатора торгов (заказчика) в Федеральную антимонопольную
          службу (ФАС). Опытные юристы нашей компании грамотно составят жалобу и помогут в формировании документов,
          подтверждающих обоснованность жалобы.</p>

        <h3>Сопровождение процедур банкротства Юридических и Физических лиц.</h3>
      </div>
    </div>
  </div>
</div>

{% endblock %}