{% extends "layout.html" %}

{% load staticfiles %}
{% load i18n %}

{% block title %}
  <h1>{% trans "Forums" %}</h1>
{% endblock %}

{% block content %}
  {% for category in category_list %}
    <h3>{{ category.name }}</h3>

    <ul class="nav nav-pills nav-stacked" role="tablist">
      {% for forum in category.forums.all %}
        <li role="presentation">
          <a href="{% url 'forums:forum' forum.id %}">{{ forum.name }}
            <span class="badge">{{ forum.count_topics }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
{% endblock %}