{% extends "layout.html" %}
{% load staticfiles i18n %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{% url 'forums:overview' %}">{% trans "Forums" %}</a></li>
  <li><a href="{% url 'forums:overview' %}#{{forum.category.id}}">{{forum.category.name}}</a> </li>
  <li class="active">{{forum.name}}</li>
</ol>
{% endblock %}

{% block content %}
  <h3>{{ forum.name }}</h3>

  <div class="row">
    <div class="col-sm-6">
      <ul class="nav nav-pills nav-stacked" role="tablist">
        {% for topic in forum.topics.all %}
          <li role="presentation">
            <a href="{% url 'forums:topic' topic.id %}">{{ topic.name }}
              <span class="badge">{{ topic.count_posts }}</span></a>
          </li>
        {% empty %}
          {% if forum.is_closed %}
            <p>{% trans "No topics in this forum, only admins can create and post here." %}</p>
          {% else %}
            <p>{% trans "No topics in this forum, create one :)" %}</p>
          {% endif %}
        {% endfor %}

      </ul>
      {% if not forum.is_closed or user.is_staff %}
        <p><a href="{% url 'forums:topic_create' forum.id %}" class="btn btn-primary">{% trans "Create topic" %}</a></p>
      {% endif %}

    </div>
  </div>
{% endblock %}