{% extends "layout.html" %}

{% load i18n %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{% url 'forums:overview' %}">{% trans "Forums" %}</a></li>
  <li><a href="{% url 'forums:overview' %}#{{forum.category.id}}">{{forum.category.name}}</a> </li>
  <li><a href="{% url 'forums:forum' forum.id %}">{{forum.name}}</a></li>
  <li class="active">{% trans "Create topic" %}</li>
</ol>
{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>{% trans "Forums" %}</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div>
        <p>{{ user.first_name }} {{ user.last_name }}</p>
      </div>
    </div>
    <div class="col-md-9">
      <form method="post" action="{% url 'forums:topic_create' forum.id %}">
        {% csrf_token %}
        <div class="form-group">
          <label for="id_topic">Тема<span></span></label>
          <input id="id_topic" class="form-control" name="topic" type="text">
        </div>
        <div class="form-group">
          <label for="id_message">Сообщение<span></span></label>
          <textarea cols="40" id="id_message" class="form-control" name="message" rows="10"></textarea>
        </div>
        <p><input type="submit" class="btn btn-primary" value="{% trans "Create topic" %}"></p>
      </form>
    </div>
  </div>
{% endblock %}
