{% extends "layout.html" %}
{% load staticfiles i18n %}

{% block breadcrumbs %}
  <ol class="breadcrumb">
    <li><a href="{% url 'forums:overview' %}">{% trans "Forums" %}</a></li>
    <li><a href="{% url 'forums:overview' %}#{{ topic.forum.category.id }}">{{ topic.forum.category.name }}</a></li>
    <li><a href="{% url 'forums:forum' topic.forum.id %}">{{ topic.forum.name }}</a></li>
    <li class="active">{{ topic.name }}</li>
  </ol>
{% endblock %}

{% block content %}
  <div class="page-header">
    <h1>{% trans "Forums" %}</h1>
  </div>
  <div class="row blog_question">
    {% for post in topic.posts.all %}
      <div class="col-sm-12">
        <div class="row{% if forloop.counter == 1 %} blog_question__question{% endif %}">
          <div class="col-sm-3">
            <div class="author">
              <h4>{{ post.user.first_name }} {{ post.user.last_name }}</h4>

              <p>{{ post.created|date:"d.m.y" }}</p>
            </div>
          </div>
          <div class="col-sm-9">
            {{ post.body|linebreaks }}
          </div>

        </div>
      </div>
    {% endfor %}
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="span12">
        {% if not topic.forum.is_closed or user.is_staff %}
          <p><a href="{% url 'forums:post_create' topic.id %}" class="btn btn-primary">{% trans "Add answer" %}</a></p>
        {% else %}
          <p>{% trans "This forum is closed, only admins can create and post here." %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}