$primary-color: #FE9A00;
$secondary-color: #c50724;

body {
	min-width: 410px;
	background: #f2f2f2;
	// min-height: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.wrapper {
	flex: 1;
}

form {
	@extend .clear;
}


.content {
	padding: 0 0 30px;
}

img {
	max-width: 100%;
}

h1 {
	font-size: 20px;
}

h2 {
	font-size: 17px;
}
.text-content {
	ul {
		line-height: 1.4;
		letter-spacing: 0.03em;
		list-style: none;
		padding-left: 20px;

		li {
			padding: 4px 0;
		}
	}
}

p {
    line-height: 1.5;
    text-align: justify;
    color: #222;
}
a {
	color: #000;
	&:hover {
		text-decoration: underline;
		color: #000;
	}
}
.bl {
	margin-bottom: 15px;
}
// Block padding
.bl-pd {
	padding: 5px 10px;
}
.mark {
	color: $secondary-color;
}
.btn-danger, .btn-danger:hover{
	background: #FE9A00;
	border-color: #FE9A00;
}
.btn-danger:focus {
	background: #FE8400;
	border-color: #FE8400;
}
.panel-footer .row {
	margin-left: 0;
  	margin-right: 0;
}