.lot {
	.auction-1__btns {
		float: right;

		.dropdown-menu {
			right: 0;
		}
	}
	.panel {
		@extend .reset;

		&-heading {
			@include clearfix();
		}

		&-footer {
			background: none;
		}

		.lot__title {
			margin-bottom: 5px;
		}
	}

	&__desc {
		
	}
	.lot__head--main {
		background: #FE9A00;
	}
	// Secondary head
	.lot__head--sec {
		background: #f3f3f3;
	}

	

	&__note {
		&-row {
			&--active {
				.fa-pencil {
					color: red;
				}
			}
		}
	}

	&__type {
		margin-left: 10px;
		color: #777;
		font-size: 12px;
	}
}