.panel-heading {
    .fa {
        font-size: 21px;
    }
    .btn-group .fa {
		padding: 3px;
    }
}
.default-label-margin {
    margin-top: 0 !important;
}

.js-auction-1__remove-fave {
	display: none;
}

.auction-1 {
	

	.panel-footer {
		background: none;
	}

	&__btn--active {
		background-color: #3f505a !important;

		.fa,
		.caret {
			color: #fff;
		}
	}

	&--fave-active {
		.btn {
			

			.fa,
			.caret {
				color: #fff;
			}
		}
		.js-auction-1__remove-fave {
			display: block;
		}
	}
	&__heading {
		padding: 0;
		margin: 0;
		list-style-type: none;

		li {
			display: inline-block;
			margin-right: 10px;
		}

		.auction-1__logo {
			max-height: 35px;
		}
	}
	&__arrow {
		&--up {
			color: green;
			margin-left: 3px;
		}
		&--down {
			color: red;
			margin-left: 3px;
		}
	}
	

	&__btns {

		@media (max-width: 560px) {
			& {
				@include clearBlock();
				margin-top: 0;
			}
		}
	}

	&__desc {
		a {
			color: #333;
			display: block;
		}
	}

	&__price_wrap {
		font-size: 22px;
		display: inline-block;
		position: relative;

		&--down {
			.auction-1__price {
				cursor: pointer;
				border-bottom: 1px dashed #f00;
			}
		}
	}
	&__price-list {
		position: absolute;
		top: 0;
		right: 0;
		background: #fff;
		padding: 7px;
		z-index: 1;
		border: 1px solid #777;
		padding: 10px;
		min-width: 100%;
		display: none;

		.auction-1__price {
			margin-bottom: 10px;
		}

		&-1 {
			display: block;
			white-space: nowrap;
			font-size: 12px;
			text-align: center;
		}
	}
	&__price {
		padding-right: 10px;
		display: inline-block;
		
		position: relative;
		// z-index: 2;

		.fa {
			position: absolute;
			top: 0;
			right: 0;
			padding-top: 3px;
		}
	}

	&__footer {
		p {
			color: #656d78;
			margin: 5px 0;
		}

		&__bg {
			background-color: #e6e9ed;
			// padding: 7px 0;
			margin-bottom: 10px;
			.range p {
				text-align: right;
			}
		}
	}

	&__mt {
		@media (max-width: 767px) {
			& {
				margin-top: 7px;
			}
		}
	}
}

#commentModal {
	#comment-text-modal {
		min-height: 183px;
	}
}

