.blog_question {

  .author{
    padding: 15px;
  }
  .btn-primary{
    margin: 10px;
  }

  &__question{
    background: #666666;
    margin-bottom: 20px;


    p{
      padding-right: 20px;
    }
  }

  &__answer{
    background:#EEEEEE;
    margin-bottom: 20px;
    
    &__text{
      padding-top: 20px;
      
      p{
        padding-right: 20px;
      }

    }
  }
}