.calendar-table {

  tbody td{
    width: 100px;
    height: 100px;
  }
  
  #list{

    .tableEvent{

      &__comment{
        margin-top: 20px;
        margin-bottom: 20px;
      }

      &__lotUrl{
        a{
          color: #337AB7;
        }
      }
    }

  }

}