.monitoring{

  &__filters {
        
    &-item {
      border: 1px solid grey;
      height: 70px;
      background-color: #fff;
      margin-bottom: 20px;

      &-content{
        margin-top: 15px;
        margin-left: 20px;

        .title{
          padding-left: 20px;
          font-size: 20px;
        }

        .fa-2x {
          font-size: 1.5em;
        }
      }
    }
    
  }
}