{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}

<div class="row blog_question">
  <div class="col-sm-10">
    <div class="blog_question__question">
      <div class="row">
        <div class="col-sm-3 ">
          <div class="author">
            <h4>Иван Иванов</h4>
            <p>02 Апр 2013 22:18</p>
            <p>(пользователь)</p>
          </div>
        </div>
        <div class="col-sm-9">
          <h3>Какой вопрос задать?</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, error quisquam impedit praesentium. Minus labore praesentium eius amet in voluptate.</p>
          <button class="btn btn-primary pull-right" type="button">Ответить</button>
        </div>

      </div>
      
    </div>
  </div>

  <div class="col-sm-10">
    <div class="blog_question__answer">
      <div class="row">
        <div class="col-sm-3">
          <div class="author">
            <h4>Сидор Сидоров</h4>
            <p>02 Апр 2013 22:18</p>
            <p>(пользователь)</p>
          </div>
        </div>
        <div class="col-sm-9 blog_question__answer__text">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, error quisquam impedit praesentium. Minus labore praesentium eius amet in voluptate.</p>
          <button class="btn btn-primary pull-right" type="button">Ответить</button>
        </div>
      </div>
      
    </div>
  </div>

    <div class="col-sm-10">
    <div class="blog_question__answer">
      <div class="row">
        <div class="col-sm-3">
          <div class="author">
            <h4>Сидор Сидоров</h4>
            <p>02 Апр 2013 22:18</p>
            <p>(пользователь)</p>
          </div>
        </div>
        <div class="col-sm-9 blog_question__answer__text">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, error quisquam impedit praesentium. Minus labore praesentium eius amet in voluptate.</p>
          <button class="btn btn-primary pull-right" type="button">Ответить</button>
        </div>
      </div>
      
    </div>
  </div>

    <div class="col-sm-10">
    <div class="blog_question__answer">
      <div class="row">
        <div class="col-sm-3">
          <div class="author">
            <h4>Сидор Сидоров</h4>
            <p>02 Апр 2013 22:18</p>
            <p>(пользователь)</p>
          </div>
        </div>
        <div class="col-sm-9 blog_question__answer__text">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, error quisquam impedit praesentium. Minus labore praesentium eius amet in voluptate.</p>
          <button class="btn btn-primary pull-right" type="button">Ответить</button>
        </div>
      </div>
      
    </div>
  </div>

  <div class="col-sm-10 text-center">
    <nav>
      <ul class="pagination">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

</div>

  


{% endblock %}