{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}

<h3>Поиск лотов</h3>

<div class="row">
  <div class="col-sm-6">
    <ul class="nav nav-pills nav-stacked" role="tablist">
      <li role="presentation">
        <a href="blog_theme/blog_question">Вопрос номер раз? <span class="badge">3</span></a>
      </li>
      <li role="presentation">
        <a href="#">Вопрос номер два? <span class="badge">0</span></a>
      </li>
      

    </ul>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Задать свой вопрос</button>

      <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Задайте ваш вопрос</h4>
          </div>
          <div class="modal-body">
            <form method="post">
              <div class="form-group">
                <label for="name">Ваше Ф.И.О.:</label>
                <input type="text" class="form-control" id="name" placeholder="Ваше Ф.И.О.">
              </div>
              <div class="form-group">
                <label for="email">Ваш email:</label>
                <input type="email" class="form-control" id="email" placeholder="Ваш email">
              </div>
              <div class="form-group">
                <label for="theme">Выберите тему:</label>
                <select class="form-control" id="theme">
                  <option>Поиск лотов</option>
                  <option>Мониторинг</option>
                  <option>Календарь</option>
                  <option>Тарифы</option>
                  <option>Партнеры</option>
                  <option>Другие вопросы</option>
                </select>
              </div>          
              <div class="form-group">
                <label for="exampleInputEmail1">Вопрос: </label>
                <textarea class="form-control" rows="3"></textarea>
              </div>                
            </form>
          </div>
          <div class="modal-footer">
            <input class="btn btn-primary" data-dismiss="modal" type="submit" value="Отправить"/>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>





{% endblock %}