{% extends "layout.html" %}
{% load staticfiles %}
{% block content %}
  <h3>Календарь</h3>
  Календарь торгов инструмент для отслеживания событий, которые будет происходить с избранным лотом. Вы всегда будите в
  курсе любого события, которое будет происходить с лотом. Вы также сможете составить свой распорядок дня и вести
  удобную работу по напоминанию, что необходимо связаться с организатором торгов для запроса оценки или же запланировать
  выезд на осмотр.

  <br>
  <br>
  <div class="row">
    <div class="col-sm-12">
      <div class="text-center">
        <button type="button" class="btn prevMonth"><span class="glyphicon glyphicon-chevron-left"
                                                          aria-hidden="true"></span></button>
        <span class="current-month"></span>-<span class="current-year"></span>
        <button type="button" class="btn nextMonth"><span class="glyphicon glyphicon-chevron-right"
                                                          aria-hidden="true"></span></button>
      </div>
    </div>
    <div class="col-sm-12">
      <table class="table table-bordered calendar-table">
        <thead>
        <tr>
          <td>Понедельник</td>
          <td>Вторник</td>
          <td>Среда</td>
          <td>Четверг</td>
          <td>Пятница</td>
          <td>Суббота</td>
          <td>Воскресенье</td>
        </tr>
        </thead>
        <tbody id="list">

        </tbody>
      </table>
    </div>

  </div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'auction/js/calendar.js' %}"></script>
{% endblock %}