<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            min-width: 100%;
            background-color: #ffffff;
        }

        table {
            border-spacing: 0;
            font-family: sans-serif;
            color: #333333;
        }

        td {
            padding: 0;
        }

        img {
            border: 0;
        }

        .wrapper {
            width: 100%;
            table-layout: fixed;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
        }

        .webkit {
            max-width: 600px;
        }

        .outer {
            margin: 0 auto;
            width: 100%;
            max-width: 600px;
        }

        .full-width-image img {
            width: 100%;
            max-width: 600px;

        }

        .inner {
            padding: 10px;
        }

        p {
            margin: 0;
        }

        a {
            color: #ee6a56;
            text-decoration: underline;
        }

        .h1 {
            font-size: 21px;
            font-weight: bold;
            margin-bottom: 18px;
        }

        .h2 {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 12px;
        }


        .one-column .contents {
            text-align: left;
        }

        .one-column p {
            font-size: 14px;
            margin-bottom: 10px;
        }

        .table-header{
            background-color: #5E5E5E;
        }

        .table-header h2 {
            color: #fff;
            padding-left: 20px;
        }

        .table-content{

            border-bottom: 1px solid #CCCCCC;
        }

        .table-tr:nth-child(odd){
            background-color: #F1F1F1;
        }
    </style>
    <!--[if (gte mso 9)|(IE)]>
    <style type="text/css">
        table {border-collapse: collapse !important !important;}
    </style>
    <![endif]-->
</head>

<body style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;min-width:100%;background-color:#ffffff;" >
<center class="wrapper" style="width:100%;table-layout:fixed;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;" >
    <div class="webkit" style="max-width:600px;" >
        <!--[if (gte mso 9)|(IE)]>
        <table width="600" align="center" style="border-spacing:0;font-family:sans-serif;color:#333333;" >
            <tr>
                <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
        <![endif]-->
        <table class="outer" align="center" style="border-spacing:0;font-family:sans-serif;color:#333333;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;width:100%;max-width:600px;" >
            <tr>
                <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
                    <table class="outer" align="center" style="border-spacing:0;font-family:sans-serif;color:#333333;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;width:100%;max-width:600px;" >
                        <tr>
                            <td colspan="0" class="full-width-image table-header" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;background-color:#5E5E5E;" >
                                <h2 style="color:#fff;padding-left:20px;" >БАНКРОТ-ЛОТ.RU</h2>
                            </td>
                        </tr>
                        <tr>
                            <td class="one-column" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
                                <table width="100%" style="border-spacing:0;font-family:sans-serif;color:#333333;" >
                                    <tr>
                                        <td colspan="0" class="inner contents" style="padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:15px;text-align:left;" >
                                            <p class="h1" style="margin-top:0;margin-right:0;margin-left:0;font-weight:bold;font-size:14px;margin-bottom:10px;" >Здравствуйте, {{ user.first_name }}! </p>
                                            <p style="margin-top:0;margin-right:0;margin-left:0;font-size:14px;margin-bottom:10px;" >Наша система подобрала по вашим запросам следующие лоты</p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        {% for filter in filters %}
                        <p style="margin-top:15px;margin-right:0;margin-left:0;font-size:18px;margin-bottom:0px;padding-left: 20px;color:#FE9A00;" > {{ filter.title }} </p>
                        <tr>                            
                            <td class="one-column" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
                                <table width="100%" style="border-spacing:0;font-family:sans-serif;color:#333333;" >
                                    {% for lot in lots %}
                                    <tr class="table-tr">
                                        <td class="inner contents table-content" style="padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;text-align:left;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#CCCCCC;" >
                                            {{ forloop.counter }}
                                        </td>
                                        <td class="inner contents table-content" style="padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;text-align:left;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#CCCCCC;" >
                                            <a href="http://banklot.ru{{ lot.get_absolute_url }}" style="color:#FE9A00;text-decoration:underline;" >{{ lot.number }}</a>
                                        </td>
                                        <td class="inner contents table-content" style="padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;text-align:left;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#CCCCCC;" >
                                            <p style="margin-top:0;margin-right:0;margin-left:0;font-size:14px;margin-bottom:10px;" >{{ lot.lot_type }}</p>
                                        </td>
                                        <td class="inner contents table-content" style="padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;text-align:left;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#CCCCCC;" >
                                            <p style="margin-top:0;margin-right:0;margin-left:0;font-size:18px;margin-bottom:10px;" >{{ lot.get_price }}</p>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="0" class="inner contents" style="padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;text-align:left;" >
                                <p style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;" >С уважением, Ваш Банкрот-ЛОТ.ру</p>
                                <p style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;" ><a href="http://bankrot-lot.ru" style="color:#FE9A00;text-decoration:underline;" >bankrot-lot.ru</a></p>
                            </td>                         
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <!--[if (gte mso 9)|(IE)]>
        </td>
        </tr>
        </table>
        <![endif]-->
    </div>
</center>
</body>

</html>