{% extends "layout.html" %}
{% load auction_extras %}
{% load widget_tweaks %}

{% block side_menu %}
{% include 'side_menu.html' with location='favorite' %}
{% endblock %}
{% block title %}{% endblock %}
{% block content %}
  <h3>Избранное</h3>
  <div class="lot-fave">

    <div class="lot-fave__btns">
      {% for chapter in chapter_set %}
        <div class="btn btn-info lot-fave__btn">
          <a href="{% url 'auction:favorite_list' id=chapter.id %}">
            {{ chapter.title }}
            <span class="badge">{% get_chapters_lot_count user_id=user.id chapter_id=chapter.id %}</span>
        </a>
        <!-- Link to remove chapter -->
        <a href="{% url 'auction:del_chapter' id=chapter.id %}">
            <i class="fa fa-times lot-fave__remove"></i>
        </a>
        </div>
      {% endfor %}
      <div class="lot-fave__btn--add btn-warning btn-xs btn">Добавить раздел</div>
    </div>
  </div>

  <!-- Add fave modal -->
  <div class="modal fade" id="lot-fave__modal-add">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Добавить раздел</h4>
        </div>
        <form action="{% url 'auction:add_chapter' %}" class="lot-fave__add-form" method="POST">
            {% csrf_token %} 
          <div class="modal-body">

            <div class="form-group">
              {{ add_form.title|add_class:'form-control' }}
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
            <input type="submit" class="btn btn-primary lot-fave__add-form-btn" value="Добавить">
          </div>
        </form>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <!-- end Add fave modal -->


  {% lot_list %}
{% endblock %}
