{% extends 'layout.html' %}
{% load widget_tweaks staticfiles %}
{% block content %}
<h3>Добавление фильтра</h3>
  <p class="pull-right visible-xs">
    <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
  </p>
  <div class="row">
    <div class="col-sm-12">
      <form action="{% url 'auction:filter_add' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input name="filter_id" type="hidden" value="{{ filter.id }}">
        <!--<div class="form-group clearfix">-->
          <!--<label class="control-label no-padding col-sm-4 col-lg-4">Добавление фильтра</label>-->
        <!--</div>-->
        <div class="form_part">
          <!-- filter_main -->
          <div class="form-group clearfix">
            <label for="filter_name" class="col-sm-4 control-label form-part-header">Основные настройки
            </label>

            <div class="col-sm-5 pull-right">
              {% if filter.is_active%}
              <span class="label label-success">Активный</span>
              {% else %}
              <span class="label label-danger">Неактивный</span>
              {% endif %}
              <span> {{ form.is_active }}</span>
            </div>
          </div>
          <!-- filter_main -->
          <!--filter_name-->
          <div class="form-group clearfix">
            <label for="id_title" class="col-sm-3 control-label">Название фильтра</label>

            <div class="col-sm-6">
              {{ form.title|add_class:'form-control' }}
              {% for error in form.title.errors %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
              {% endfor %}
            </div>
          </div>
          <!--/filter_name-->
          <!--filter_tags-->
          <div class="form-group clearfix">
            <label for="id_key_words" class="col-sm-3 control-label">Ключевые слова</label>

            <div class="col-sm-6">
              {% render_field form.key_words class="form-control" placeholder='Укажите ключевые слова через пробел' rows="3" style="resize:none" %}
            </div>
          </div>
          <!--/filter_tags-->
          <!--checkbox-->
<!--{#           <div class="form-group clearfix">
            <div class="col-sm-offset-3 col-sm-6">
              <div class="checkbox">
                <label>
                  {% render_field form.is_all_keywords_necessary %}Все слова обязательны
                </label>
              </div>
            </div>
          </div> #}-->
          <!--/checkbox-->
          <!-- cost -->
          <div class="form-group clearfix">
            <label for="id_price_from" class="col-sm-3 control-label">Стоимость, руб.</label>

            <div class="col-sm-3">
              {% render_field form.price_from class="form-control" placeholder="от" %}
            </div>
            <div class="col-sm-3">
              {% render_field form.price_to class="form-control" placeholder="до" %}
            </div>
          </div>
          <!-- /cost -->
        </div>
        <!--/span-->
        <div class="form_part">
          <!-- filter_main -->
          <div class="form-group clearfix">
            <label for="filter_name" class="col-sm-* control-label form-part-header">Тип торгов и регионы
            </label>
          </div>
          <div class="clearfix">
            <div class="col-sm-3">
              <div class="form-group">
                <label for="id_lot_types" class=" control-label ">Тип торгов:</label>
                {{ form.lot_types }}

              </div>
            </div>
            <!-- filter_edit__regions -->
            <div class="col-sm-6 ">
              <div class="form-group">
<!--                 <label for="" class=" control-label">Регионы:
                </label>
              </div>
              <div class="form-group">
                <div class="select-region">

                </div> -->

                <button type="button" class="btn btn-success pull-right" data-target="#get-region"
                        data-toggle="modal">Выбрать регион
                </button>
              </div>
            </div>
            <!-- popup -->

            <div class="modal fade" id="get-region" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;
                                    </span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Список регионов</h4>
                  </div>
                  <div class="modal-body">
                    {{ form.regions }}
{#                     {% render_field form.regions %} #}
                    <div class="modal-footer">
                      <button type="button" class="btn btn-success" data-dismiss="modal">
                        Ok
                      </button>
                      <!-- <button type="button" class="btn  btn-color">Выбрать</button> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- /popup -->
          </div>
        </div>
        <!--/span-->
        <!--<div class="form_part">-->
          <!--<div class="form-group clearfix">-->
            <!--<label for="id_debtors" class="col-sm-3 control-label">Должник</label>-->

            <!--<div id="debtors_set" class="col-sm-6">-->
              <!--{% render_field form.debtors class="form-control" placeholder="ФИО ИНН или название организации" %}-->
            <!--</div>-->
            <!--<button id="debtor_add_button" type="button" class="btn btn-default">+</button>-->
          <!--</div>-->
          <!--<div class="form-group ">-->
            <!--<label for="filter_name" class="col-sm-3 control-label">Арбитражный управляющий</label>-->

            <!--<div class="col-sm-6">-->
              <!--{% render_field form.trustees class="form-control" placeholder="ФИО" %}-->
            <!--</div>-->
            <!--<button type="button" class="btn btn-default">+</button>-->
          <!--</div>-->
        <!--</div>-->
        <!--/span-->
        <div class="form_part">
          <div class="clearfix">
            <div class="col-sm-6">
              <div class="checkbox">
                <label>
                  {{ form.email_info }}
                  Оповещать на e-mail о лотах попавших под
                  мониторинг
                </label>
              </div>
            </div>
            <div class="col-sm-3">
              {% render_field form.email_period class="form-control" %}
            </div>
          </div>
          <!--<div class="clearfix">-->
            <!--<div class="col-sm-6">-->
              <!--<div class="checkbox">-->
                <!--<label>-->
                  <!--{{ form.email_info }}Оповещать по СМС (только на платных-->
                  <!--тарифах)-->
                <!--</label>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        </div>
        <div class="form-group clearfix">
          <div class="col-sm-4">
            <input type="submit" class="btn btn-success btn-lg" value="Сохранить фильтр"/>
          </div>
          <button type="button" class="btn btn-default btn-lg">Отменить</button>
        </div>
      </form>
    </div>
  </div>
  <!--/row-->

{% endblock %}

{% block extra_js %}
  <script src="{% static 'auction/js/filter.js' %}"></script>
{% endblock %}