{% load auction_extras staticfiles %}
{% for lot in lot_set %}
{% with lot.userdata_set.all|first as userdata %}
<div class="panel panel-default reset auction-1 js-auction-1" data-auction-id="{{ lot.id }}">
  <!-- Comment modal -->
  <div class="modal fade commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Оставить комментарий</h4>
        </div>
        <form class="auction-s__form_comment" action="#">
          {% csrf_token %}
          <div class="modal-body">

            <div class="form-group">
              <label class="control-label" for="comment-modal">Введите комментарий</label>
              <textarea class="form-control comment-text-modal" name="comment">{{ userdata.comment }}</textarea>
            </div>
          </div>
          <div class="modal-footer">
            <input type="submit" class="btn btn-primary commentModal__tgigger-comment" value="Комментировать"/>
            <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- end Comment modal -->
  <div class="panel-heading clearfix">
    <ul class="pull-left auction-1__heading">
      <li class="active need-auth">
        <a href="{{ lot.get_absolute_url }}">Лот № {% hide_text user=user lot=lot str=lot.number %} </a>
      </li>
      <li class="clear visible-xs"></li>
      <li>
        {% if lot.price_start < MAX_PRICE_FOR_GUESTS or user.userprofile.is_premium %}
          <a class="auction-1__mt" href="{{ lot.marketplace_url }}" target="_blank">{{ lot.marketplace.title }}</a>
        {% else %}
          {% hide_text user=user lot=lot str=lot.marketplace.title %}
        {% endif %}
      </li>
      <li>
        <img class="auction-1__logo" src="
              {% if lot.marketplace.img %}{{ MEDIA_URL }}{{ lot.marketplace.img }}{% else %}{% static 'img/auction.png' %}{% endif %}">
      </li>
    </ul>
    <menu class="btn-group m0 right auction-1__btns" role="group">
      {% if user.is_authenticated %}

      <button data-href="{% url 'auction:mark_read' lot_id=lot.id %}"
              class="btn
                    btn-default 
                    btn-xs 
                    js-auction-1-btn-remove
                    {% if userdata.read %}
                    auction-1__btn--active
                    {% endif %}">
        <i class="fa fa-times fa-2x default-label-margin"></i>
      </button>
      <!-- Fave button -->
      {% get_chapter user.id lot.id as chapter %}
      <div class="btn-group
                  js-auction-1__fave-btn 
                  {% if chapter %}
                  auction-1--fave-active 
                  {% endif %}"
           role="group">
        <button class="btn
                btn-default 
                btn-xs 
                dropdown-toggle 
                {% if chapter %}
                auction-1__btn--active
                {% endif %}" data-toggle="dropdown">
          <i class="fa fa fa-star-o fa-2x default-label-margin"></i>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li role="presentation" class="dropdown-header">Мои разделы</li>
          {% if chapter %}
          <li class="dropdown-alert js-auction-1__remove-fave">
            <a href="#">
              <i class="fa fa-times-circle-o"></i>
              Удалить
            </a>
          </li>
          {% endif %}

          {% for chapter in chapter_set %}
          <li class="auction-1__add-fave" data-category-id="{{ chapter.id }}">
            <a href="#">{{ chapter.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <!-- // Fave button -->

      <button class="btn
                     btn-default 
                     btn-xs 
                     js-auction-1__add-comment
                     {% if userdata.comment %}
                     auction-1__btn--active
                     {% endif %}
                     "
              data-get-url="{% url 'auction:get_comment' lot_id=lot.id %}"
              data-set-url="{% url 'auction:set_comment' lot_id=lot.id %}">
        <i class="fa fa-comment-o fa-2x default-label-margin"></i>
      </button>

      {% endif %}
      <button class="btn
                    btn-default 
                    btn-xs
                    ">
        <i class="fa fa-arrows-alt fa-2x default-label-margin"></i>
      </button>
    </menu>

  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-10 col-sm-12">
        <p class="text-justify auction-1__desc"><a href="{{ lot.get_absolute_url }}">
          {{ lot.description|truncatewords:50 }}</a></p>
      </div>
      <div class="col-md-2 col-sm-12">
        {% if lot.lot_type.title == 'Публичное предложение' and lot.price_set.all|length > 1%}
        <div class="auction-1__price_wrap auction-1__price_wrap--down">
          <p class="">
						<span class="auction-1__price">
							{{ lot.get_price }}
							<i class="fa fa-long-arrow-down auction-1__arrow--down"></i>
						</span>

            <span class="auction-1__currency">{{ lot.currency }}</span>
          </p>
          <div class="auction-1__price-list">
            {% for price in lot.price_set.all %}
            {% if lot.price_set.all|first == price %}
                    <span class="auction-1__price">
										{{ lot.get_price }}
										<i class="fa fa-long-arrow-down auction-1__arrow--down"></i>
									</span>
            {% else %}
            <div class="auction-1__price-list-1">
              <span class="text-muted">{{ price.date }}</span>
              <b class="text-danger">{{ price.value }}</b>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
        {% elif lot.lot_type.title == 'Публичное предложение' %}
        <div class="auction-1__price_wrap">
          <p class="">
								<span class="auction-1__price">
										{{ lot.price_start }}
										<i class="fa fa-long-arrow-down auction-1__arrow--down"></i>
								</span>
            <span class="auction-1__currency">{{ lot.currency }}</span>
          </p>
        </div>
        {% else %}
        <div class="auction-1__price_wrap">
          <p class="">
								<span class="auction-1__price">
										{{ lot.price_start }}
										<i class="fa fa-long-arrow-up auction-1__arrow--up"></i>
								</span>
            <span class="auction-1__currency">{{ lot.currency }}</span>
          </p>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="panel-footer auction-1__footer">
    <div class="clearfix auction-1__footer__bg">
      <div class="col-sm-12 col-md-4">
        <p>Размещено: <span class="mark">{{ lot.date_message }}</span></p>
      </div>
      <div class="col-sm-12 col-md-8 range">
        <p>Проведение торгов с {{ lot.date_start }} до {{ lot.date_finish }}</p>
      </div>
    </div>
    <div class="expanded-info no-display auction-1__footer__meta2">
      <div class="col-xs-12 auction-1__footer__bg">
        <p class="bl bl-pd clearfix">
          Должник: <span class="text-black">{% hide_text user=user lot=lot str=lot.debtor.title %}</span>
        </p>
      </div>

      <div class="form-group clearfix row-inline-block">
        <p class="need-auth">
          <span class="text-muted">ИНН:</span>
          <span class="text-black">{% hide_text user=user lot=lot str=lot.debtor.vatin %}</span>
          &nbsp;&nbsp;&nbsp;
          <span class="text-muted">ОГРН:</span>
          <span class="text-black">{% hide_text user=user lot=lot str=lot.debtor.register_id %}</span>
        </p>

        <p class="need-auth">
          <span class="text-muted">Регион:</span>
          <span class="text-black">{% hide_text user=user lot=lot str=lot.debtor.region.title %}</span>
        </p>

        <p class="need-auth">
          <span class="text-muted">Адрес:</span>
          <span class="text-black">{% hide_text user=user lot=lot str=lot.debtor.address %}</span>
        </p>
      </div>
    </div>
  </div>
</div>
{% endwith %}
{% endfor %}
{% if lot_set %}
<section class="text-center">
  <ul class="pagination pagination-centered">
    {% if lot_set.has_previous %}
    <li>
      <a href="/auction/?page={{ lot_set.previous_page_number }}{% if search %}&{{ search }}{% endif %}">Назад</a>
    </li>
    {% endif %}
    {% for p in page_range %}
    <li
    {% if p == lot_set.number %} class="active"{% endif %}>
    <a href="/auction/?page={{ p }}{% if search %}&{{ search }}{% endif %}">{{ p }}</a>
    </li>
    {% endfor %}
    <li class="disabled"><a href="#">...</a></li>
    <li>
      <a href="/auction/?page={{ lot_set.paginator.num_pages }}{% if search %}&{{ search }}{% endif %}">{{ lot_set.paginator.num_pages }}</a>
    </li>
    {% if lot_set.has_next %}
    <li>
      <a href="/auction/?page={{ lot_set.next_page_number }}{% if search %}&{{ search }}{% endif %}">Вперед</a>
    </li>
    {% endif %}
  </ul>
  <form method="get">
    {% if not search %}
    <input type="text" name="page"/>
    {% endif %}
  </form>
</section>
{% else %}
Список лотов пуст
{% endif %}
