{% extends "layout.html" %}
{% load auction_extras %}
{% block content %}

<div class="col-sm-12 lot js-auction-1" data-auction-id="{{ lot.id }}">
  <h3>Торги должника - {% hide_text user=user lot=lot str=lot.debtor.title %}</h3>

  <div class="panel panel-default">
    <div class="panel-heading lot__head--main clearfix">
      <div class="row va-in-bl sm-gutter">
        <div class="col-sm-8 col-xs-12">
          <div class="row sm-gutter1">
            <div class="col-xs-12">
              <h4 class="need-auth lot__title">
                Лот №
                {% hide_text user=user lot=lot str=lot.number %}
                <small class="lot__type">( {{ lot.lot_type }} )</small>
              </h4>
            </div>
          </div>
        </div>
        <div class="visible-xs  height10"></div>
        <div class="col-sm-3 col-xs-6">
          {% if lot.lot_type.title == 'Публичное предложение' and lot.price_set.all|length > 1%}
          <div class="auction-1__price_wrap auction-1__price_wrap--down">
            <p class="">
              <span class="auction-1__price">
                {{ lot.get_price }}
                <i class="fa fa-long-arrow-down auction-1__arrow--down"></i>
              </span>

              <span class="auction-1__currency">{{ lot.currency }}</span>
            </p>

            <div class="auction-1__price-list">
              {% for price in lot.price_set.all %}
              {% if lot.price_set.all|first == price %}
                <span class="auction-1__price">
                    {{ lot.get_price }}
                    <i class="fa fa-long-arrow-down auction-1__arrow--down"></i>
                </span>
              {% else %}
              <div class="auction-1__price-list-1">
                <span class="text-muted">{{ price.date }}</span>
                <b class="text-danger">{{ price.value }}</b>
              </div>
              {% endif %}
              {% endfor %}
            </div>
          </div>

          {% elif lot.lot_type.title == 'Публичное предложение' %}
          <div class="auction-1__price_wrap">
            <p class="">
                <span class="auction-1__price">
                    {{ lot.price_start }}
                    <i class="fa fa-long-arrow-down auction-1__arrow--down"></i>
                </span>
              <span class="auction-1__currency">{{ lot.currency }}</span>
            </p>
          </div>
          {% else %}
          <div class="auction-1__price_wrap">
            <p class="">
                <span class="auction-1__price">
                    {{ lot.price_start }}
                    <i class="fa fa-long-arrow-up auction-1__arrow--up"></i>
                </span>
              <span class="auction-1__currency">{{ lot.currency }}</span>
            </p>
          </div>
          {% endif %}
        </div>
        {% if user.is_authenticated %}
        <div class="col-sm-1 col-xs-6">
          <menu class="btn-group m0 right auction-1__btns" role="group">
            {% get_chapter user.id lot.id as chapter %}
            <div class="btn-group 
                        js-auction-1__fave-btn 
                        {% if chapter %}
                        auction-1--fave-active 
                        {% endif %}"
                 role="group">
              <button class="btn 
                            btn-default 
                            btn-xs 
                            dropdown-toggle 
                            {% if chapter %}
                            auction-1__btn--active
                            {% endif %}" data-toggle="dropdown">
                <i class="fa fa fa-star-o fa-2x default-label-margin"></i>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li role="presentation" class="dropdown-header">Мои разделы</li>
                {% for userdata in lot.userdata_set.all %}
                {% if userdata.chapter %}
                <li class="dropdown-alert js-auction-1__remove-fave">
                  <a href="#">
                    <i class="fa fa-times-circle-o"></i>
                    Удалить
                  </a>
                </li>
                {% endif %}
                {% endfor %}
                {% for chapter in chapter_set %}
                <li class="auction-1__add-fave" data-category-id="{{ chapter.id }}">
                  <a href="#">{{ chapter.title }}</a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </menu>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="panel-body">
      <p class="col-md-10 col-sm-12 text-justify">{{ lot.description }}</p>
    </div>
    {% if user.is_authenticated %}
    <div class="panel-footer">
      <div class="row">
        <div class="col-sm-6">
          <p>
            <a href="#" class="auction-1__add-fave" data-category-id="5"><i class="fa fa-calendar"></i>
              Добавить лот в календарь</a>
          </p>
        </div>
        <div class="col-sm-6">
          <div class="row lot__note-row sm-gutter">
            <div class="col-xs-1 text-center pr0">
              <i class="fa fa-pencil"></i>
            </div>
            <div class="col-xs-11 pl0">
              <form id="auction-s__form_comment" action="#">
                {% csrf_token %}
                <textarea class="inline lot__note"
                          placeholder="Ваша заметка по лоту (видна только вам)"
                          name="comment"
                          data-set-url="{% url 'auction:set_comment' lot_id=lot.id %}">{% with lot.userdata_set.all|first as userdata %}{{ userdata.comment }}{% endwith %}</textarea>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
  <div class="row equel-wrapper">
    <div class="col-sm-6">
      <div class="panel panel-default equel-col ">
        <div class="panel-heading lot__head--sec">
          <h4>Документы и сообщения</h4>
        </div>
        <!-- changed min-height -->
        <div class="panel-body">
          <table class="table table-condensed no-top-bd">
            {% for doc in lot.document_set.all %}
            <tr>
              <td>
                {% if show %}
                <a href="{{doc.fed_url}}">{{ doc.title }}</a>
                {% else %}
                {% hide_text user=user lot=lot str=doc.title %}
                {% endif %}
              </td>
              <td>{{ doc.date }}</td>
            </tr>
            {% endfor %}
            {% for message in lot.lotmessage_set.all %}
            <tr>
              <td>
                {% if show %}
                <a target="_blank" href="{{ message.fed_url }}">{{ message.title }}</a>
                {% else %}
                {% hide_text user=user lot=lot str=message.title %}
                {% endif %}
              </td>
              <td>{{ message.date }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-sm-12">
              <p class="text-uppercase">
                <b>Мои документы</b>
              </p>
            </div>
            <div class="col-sm-12">
              <p>Закачка ваших документов будет доступна в ближайшее время.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default equel-col">
        <div class="panel-heading lot__head--sec clearfix">
          <h4>Дополнительная информация</h4>
        </div>
        <div class="panel-body">
          <table class="table table-condensed no-top-bd">
            <tr>
              <td>Начало торгов:</td>
              <td>{{ lot.date_start }}</td>
            </tr>
            <tr>
              <td>Окончание торгов:</td>
              <td>{{ lot.date__finish }}</td>
            </tr>
            <tr>
              <td>Начало подачи заявок:</td>
              <td>{{ lot.date_app_from }}</td>
            </tr>
            <tr>
              <td>Окончание подачи заявок:</td>
              <td>{{ lot.date_app_to }}</td>
            </tr>
          </table>
        </div>
        {% if user.is_authenticated %}
        <div class="panel-footer text-center">
          <div class="row">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-xs-5">
                  {% if show %}
                  <a href="{{ lot.fed_url }}" target="_blank">Лот на ЕФРС</a>
                  {% else %}
                  <a href="#">Лот на ЕФРС</a>
                  {% endif %}
                </div>
                <div class="col-xs-2">|</div>
                <div class="col-xs-5">
                  {% if show %}
                  <a href="{{ lot.marketplace_url }}" target="_blank">Лот на ЭТП</a>
                  {% else %}
                  <a href="#">Лот на ЭТП</a>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="col-sm-12">{{ lot.marketplace.title }}</div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading lot__head--sec" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
                 aria-controls="collapseOne">
                Должник: {% hide_text user=user lot=lot str=lot.debtor.title %}
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body row-inline-block">
              <div class="need-auth">
                Дело № {% hide_text user=user lot=lot str=lot.case_number %}
              </div>
              <div class="need-auth">
                Суд: {% hide_text user=user lot=lot str=lot.cort %}
              </div>
              <div class="need-auth">
                ИНН: {% hide_text user=user lot=lot str=lot.debtor.vatin %}
              </div>
              <div class="need-auth">
                ОГРН: {% hide_text user=user lot=lot str=lot.debtor.register_id %}
              </div>
              <div class="need-auth">
                Регион: {% hide_text user=user lot=lot str=lot.debtor.region.title %}
              </div>
              <div class="need-auth">
                Адрес должника: {% hide_text user=user lot=lot str=lot.debtor.address %}
              </div>
              <div class="need-auth">
                Арбитражный управляющий: {% hide_text user=user lot=lot str=lot.trustee.name %}
                (ИНН: {% hide_text user=user lot=lot str=lot.trustee.vatin %})
              </div>
              <div class="need-auth">
                Организатор торгов: {% hide_text user=user lot=lot str=lot.organizer.name %}
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading lot__head--sec" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                 aria-expanded="false" aria-controls="collapseTwo">
                Другие активные лоты должника
              </a>
            </h4>
          </div>
          {% if show %}
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              <table class="table table-condensed table-bordered">
                <tr>
                  <th>Лот</th>
                  <th>Дата торгов</th>
                  <th>Начальная цена</th>
                  <th>ЭТП</th>
                </tr>
                {% for lot_a in lots_active %}
                <tr>
                  <td>{{ lot_a.description }}</td>
                  <td>{{ lot_a.date_start }}</td>
                  <td>{{ lot_a.price_start }}</td>
                  <td>{{ lot_a.marketplace.title }}</td>
                </tr>
                {% endfor %}
              </table>
            </div>
          </div>
          {% endif %}
        </div>
        <div class="panel panel-default">
          <div class="panel-heading lot__head--sec" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                 aria-expanded="false" aria-controls="collapseThree">
                Завершенные торги
              </a>
            </h4>
          </div>
          {% if show %}
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
              <table class="table table-condensed table-bordered">
                <tr>
                  <th>Лот</th>
                  <th>Дата торгов</th>
                  <th>Начальная цена</th>
                  <th>ЭТП</th>
                </tr>
                {% for lot_f in lots_finished %}
                <tr>
                  <td>{{ lot_f.description }}</td>
                  <td>{{ lot_f.date_start }}</td>
                  <td>{{ lot_f.price_start }}</td>
                  <td>{{ lot_f.marketplace.title }}</td>
                </tr>
                {% endfor %}
              </table>
            </div>
          </div>
          {% endif %}
        </div>
        <div class="panel panel-default">
          <div class="panel-heading lot__head--sec" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour"
                 aria-expanded="false" aria-controls="collapseThree">
                Сообщения по должнику
              </a>
            </h4>
          </div>
          {% if show %}
          <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
              <table class="table table-condensed table-bordered">
                <tr>
                  <th>Сообщение</th>
                  <th>Дата</th>
                </tr>
                {% for message in lot.debtor.debtormessage_set.all %}
                <tr>
                  <td><a target="_blank" href="{{ message.fed_url }}">{{ message.title }}</a></td>
                  <td>{{ message.date }}</td>
                </tr>
                {% endfor %}
              </table>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}