{% extends "layout.html" %}

{% block content %}
<h3>Мониторинг</h3>
<div class="monitoring">

    <a class="btn btn-danger" href="{% url 'auction:filter_add' %}" role="button">Добавить фильтр</a>

    <h4>Доступные фильтры:</h4>

    <div class="monitoring__filters">
        {% for filter in filters %}
        <div class="monitoring__filters-item">
            <div class="monitoring__filters-item-content">
                <div class="row">
                    <div class="col-sm-6">
                        {% if filter.is_active%}
                        <span class="label label-success">Активный</span>
                        {% else %}
                        <span class="label label-danger">Неактивный</span>
                        {% endif %}

                        <span class="title">{{ filter.title }}</span>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-4">
                            
                            <!-- something -->

                        </div>
                        <div class="col-sm-4 text-center">
                            {% if filter.email_info %}
                            <span class="label label-success">On</span>
                            {% else %}
                            <span class="label label-danger">Off</span>
                            {% endif %}
                            <span class="title">Email</span>

                        </div>
                        <div class="col-sm-4 text-center">
                            <a href="{% url 'auction:filter_edit' filter_id=filter.id %}"><i class="fa fa-pencil fa-2x"></i></a>
                            <a href="#"><i class="fa fa-times fa-2x"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}