{% extends "layout.html" %}
{% load widget_tweaks %}

{% block head-title %}
Форма для отправки вопроса юристу сайта электронных торгов в Москве. Тел. +7 499 899 05 05
{% endblock %}

{% block head-description %}
Задать вопрос юристу Москвы по поводу продажи имущества банкротов - недвижимости по банкротству и др.
- можно заполнив форму обратной связи. Интернет-проект Банк-Лот. Тел. +7 499 899 05 05
{% endblock %}

{% block content %}
<h3>Вопрос Юристу</h3>
{{ message }}
<div class="row">
  <div class="col-sm-12 question_form">
    <div class="col-sm-6">
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="id_name">Ф.И.О. <span>*</span></label>
          {{ form.name|add_class:"form-control"|attr:'required' }}
        </div>
        <div class="form-group">
          <label for="id_email">Email <span>*</span></label>
          {{ form.email|add_class:"form-control"|attr:'required' }}
        </div>
        <div class="form-group">
          <label for="id_phone">Телефон <span>*</span></label>
          {{ form.phone|add_class:"form-control"|attr:'required' }}
        </div>
        <div class="form-group">
          <label for="id_message">Ваш вопрос: <span>*</span></label>
          {{ form.message|add_class:"form-control"|attr:'rows: 3'|attr:'required'}}
        </div>
        <p>
          <a href="{% url 'rules' %}">Пользовательское соглашение</a>
        </p>
        <div class="checkbox">
          <label>
            <input class="check_me" type="checkbox" value="">
            Прочитал(а) и сгласен(а) <span>*</span>
          </label>
        </div>
        <input class="btn btn-success disabled" type="submit" value="Отправить"/>
      </form>
    </div>
  </div>
</div>

{% endblock %}