{% load widget_tweaks %}
<form action="{% url 'auction:lot_list' %}" method="get">
  <input type="hidden" name="search_form" value="1"/>

  <div class="form-group clearfix">
    <label class="control-label no-padding col-sm-12 col-md-5">Электронные торги по банкротству</label>

  </div>
  <div class="form-group clearfix">
    <!--         <div class="no-padding col-sm-10 col-md-6">
            {% render_field form.search class="form-control" placeholder="Поиск по всем лотам России" %}
        </div>
        <div class="no-padding col-sm-2 col-md-1">
            <input type="submit" class="btn btn-danger" value="Найти" />
        </div> -->
    <div class="input-group col-sm-10 col-md-6 no-padding">
      {% render_field form.search class="form-control" placeholder="Поиск по всем лотам России" %}
          <span class="input-group-btn ">
            <button class="btn btn-danger" type="submit">Найти</button>
          </span>

    </div>
    <!-- /input-group -->
    <p class="help-block col-md-4 col-sm-12 expanded-search">Расширенный поиск</p>

    <!-- {# <div class="col-sm-12 col-md-5 pull-right">
      {% if user.is_authenticated %}
        <a href="{% url 'auction:read_all' %}" class="btn btn-primary btn-xs">Отметить все лоты</a> {% endif %}
      <div class="checkbox">
        <label>
          {{ form.is_visited }}Показывать просмотренные</label>
      </div>
    </div> #} -->

  </div>
  <div class="panel panel-default expanded-search-form no-display">
    <div class="panel-heading">
      <div class="form-group clearfix">
        <label class="col-md-2 col-sm-12 default-label-margin">Регион</label>

        <div class="col-sm-12 col-md-8">
          {% render_field form.region class="form-control" %}
        </div>
      </div>
      <div class="form-group clearfix">
        <label class="col-md-2 col-sm-12 default-label-margin">Площадки</label>

        <div class="col-sm-12 col-md-8">
          {{ form.places }}
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="form-group clearfix">
        <label class="col-md-2 col-sm-12 default-label-margin">Цена от</label>
        <label class="default-label-margin col-sm-12 col-md-1">от</label>

        <div class="col-md-3 col-sm-12">
          {% render_field form.price1 class="form-control" %}
        </div>
        <label class="default-label-margin col-sm-12 col-md-1">до</label>

        <div class="col-md-3 col-sm-12">
          {% render_field form.price2 class="form-control" %}
        </div>
        <div class="hidden-xs hidden-sm col-md-2"></div>
      </div>
      <div class="form-group clearfix" id="sandbox-container">
        <label class="col-md-2 col-sm-12 default-label-margin">Период с</label>
        <label class="default-label-margin col-sm-12 col-md-1">с</label>

        <div class="col-md-3 col-sm-12">
          <div class="input-group date">
            {% render_field form.date1 class="form-control" %}<span class="input-group-addon"><i
              class="fa fa-calendar"></i></span>
          </div>
        </div>
        <label class="default-label-margin col-sm-12 col-md-1">по</label>

        <div class="col-md-3 col-sm-12">
          <div class="input-group date">
            {% render_field form.date2 class="form-control" %}<span class="input-group-addon"><i
              class="fa fa-calendar"></i></span>
          </div>
        </div>
        <div class="hidden-xs hidden-sm col-md-2"></div>
      </div>
      <div class="form-group clearfix">
        <label class="col-md-2 col-sm-12 default-label-margin">Вид торгов</label>

        <div class="col-md-10 col-sm-12">
          <div class="btn-group" data-toggle="buttons">
            {% for pk, type in form.types.field.widget.choices %}
            <label class="btn btn-primary">
              <input type="checkbox" autocomplete="off" checked value="{{ pk }}" id="id_types" name="types">{{ type }}
            </label>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <div class="form-group clearfix">
        <div class="col-md-4 col-sm-6">
          {% render_field form.debtor class="form-control" placeholder="Должник" %}
        </div>
        <div class="col-md-4 col-sm-6">
          {% render_field form.trustee class="form-control" placeholder="Арбитражный управляющий" %}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 clearfix">
          <button class="btn btn-danger" type="submit">Найти</button>
        </div>
      </div>
    </div>
  </div>
</form>